[2017-06-28 18:48] dan-f opened #7 "Handle when IDP has no supported auth scheme"

[2017-06-29 16:31] #7 closed

[2017-07-20 20:33] RubenVerborgh opened #10 "Consider using devDependencies"
A lot of the current `dependencies` are actually `devDependencies`, so they are unnecessarily installed when using `npm install solid-auth-client`.

[2017-07-21 20:40] RubenVerborgh commented on #10
I don't know where I got that, this seems fine.

[2017-07-21 20:42] RubenVerborgh commented on #10
Actually, @dmitrizagidulin remarked that bootstrap might be in the wrong place.

[2017-07-21 21:35] RubenVerborgh opened #11 "Logging in after logging out breaks fetch"
When I perform the following steps:
1. `SolidAuthClient.login("https://solidtest.space/")` (and log in with with username / password)
2. `SolidAuthClient.fetch("https://my.solidtest.space/private-resource")`
3. `SolidAuthClient.logout()`
4. `SolidAuthClient.login("https://solidtest.space/")`
5. `SolidAuthClient.fetch("https://my.solidtest.space/private-resource")`

Here, we assume `https://my.soli

[2017-07-21 21:41] RubenVerborgh opened #12 "Can I force authentication?"
Now, the library always first needs to encounter 401, creating double the number of requests.
What is the reason for not always sending auth headers when I use the library's `fetch` method?

Can I force sending the auth headers, for instance through options?

[2017-07-22 18:17] dan-f commented on #10
You're right, looks like bootstrap is in the wrong place. Other than that, which are the particular dependencies you believe to be incorrectly categorized?

[2017-07-22 18:21] dan-f commented on #12
That was a design decision to protect user privacy; you don't know ahead of time whether a resource requires authentication, so why expose credentials unnecessarily?

I considered this API, but I'm not convinced that it would bring much value, especially since it would require augmenting the `fetch` API.

An alternative solution would be to heuristically cache resources which have required authent

[2017-07-22 18:30] dan-f commented on #11
Hey @RubenVerborgh, thanks for the detailed bug report :)

Could you let me know how you've installed the library / which version you are using? For example, are you on the latest `v0.3.4`?

[2017-07-22 19:05] RubenVerborgh commented on #11
Yes, using the latest version, from GitHub.

[2017-07-23 03:24] RubenVerborgh commented on #10
Just bootstrap, the others I saw were transitive dependencies from bootstrap I presume.

[2017-07-23 03:38] RubenVerborgh commented on #12
A couple of points to counter that argument:
- The server can always “trick” the client into sending credentials by replying with 401, so if it wants to bypass, it can. In that sense, it's not (adequate) protection.
- If the application uses this library's `fetch` method, instead of regular `fetch`, the application does so because it assumes the resource _can_ be protected.
- (Actually a question,

[2017-07-24 13:48] dan-f commented on #10
The other dependencies are `@trust/oidc-rp`, `auth-header`, and `isomorphic-fetch`, which don't relate to bootstrap. I can move bootstrap to the devDependencies, as it's just used in the demo app.

[2017-07-24 13:50] RubenVerborgh commented on #10
Works for me!

[2017-07-24 13:50] dan-f commented on #10
Great, PR coming shortly.

[2017-07-24 14:13] #10 closed

[2017-07-24 14:28] dan-f commented on #11
Just to circle back - I tried reproducing the bug, but I wasn't able to. @RubenVerborgh, feel free to either close this issue or ping me again!

[2017-07-24 15:40] RubenVerborgh commented on #11
Bug confirmed with slightly different steps to reproduce. Following up in https://github.com/solid/node-solid-server/issues/523

[2017-07-24 18:57] RubenVerborgh opened #15 "Reduce library size"
The minified file is currently 116KB. I wonder if we could do something about it.

With source-map-explorer, I  obtained [this diagram](https://cdn.rawgit.com/RubenVerborgh/7fdcc5d7d6b182ee7c533c289632ed32/raw/ed507106688ec9d5552e2b8e1680103b85c2623c/solid-auth-client.html). I wonder if there are some components we can drop, such as `Validator.js` and `buffer`.

[2017-07-24 20:11] RubenVerborgh commented on #15
Mhm, turns out that both of my suggestions are actually needed by `oidc-rp`. Might be nothing much we can do here.

[2017-07-25 14:46] dan-f commented on #11
I'll leave this open until https://github.com/solid/node-solid-server/issues/523 closes.

[2017-07-25 17:09] RubenVerborgh commented on #11
Confirmed fixed with https://github.com/solid/node-solid-server/pull/525.

[2017-07-25 17:15] #11 closed

[2017-07-25 17:23] RubenVerborgh commented on #12
@dan-f I can have a go at this if you like. How would you prefer this to be implemented?

1. Always send 1 request with authentication headers. No option to override.
2. By default, send 1 request with authentication headers. Override with `authenticateFirst: false`.
3. By default, send 1 request without authentication headers, only on 401 send another with authentication. Override with `authentic

[2017-07-25 18:12] dan-f commented on #12
Hey, great points all around!

I also like option 2. I think that it might be worth it to add a `solidAuth` key in the fetch options in case we need to add more options down the road:

[code]

[2017-07-25 18:41] dan-f opened #16 "Pass ID Token, not Access Token in Auth'd requests"
:man_facepalming:

[2017-07-25 19:22] #16 closed

[2017-07-25 19:24] dan-f commented on #15
Fair enough. I'll keep this open, and tag it as "enhancement" :)

[2017-07-25 19:41] dan-f commented on #12
Thought I'd update this issue after an out-of-band discussion.

Part of the function that the `401` responses perform is to identify their auth protocol using the `www-authenticate` header. If we were to always send the ID token in the initial request we'd be sending credentials to servers that may not necessarily be speaking in WebID-OIDC.

A discussed proposal was to maintain a cache which would

[2017-07-31 20:25] dmitrizagidulin opened #18 "Implement Select Provider popup window capability"
If the app developer doesn't provide their own 'select provider' UI, it would be helpful if calling `login()` without passing in an IDP would open a Select Provider popup.

There's two workflow options for this popup window that we have to decide between -- either 1) it serves as a select provider UI only, and it's the main app window that redirects for the OAuth dance. Or 2) The redirect happens

[2017-08-01 11:56] timbl commented on #18
I feel it is clear from earlier discussions that, while option 1 may be useful for testing, the functionality required in for example solid-ui, as used by existing apps, is to be able to *maintain app state and stack* during login process.  The functionality the app requires "get the user to [sign up and] _sign in and call me back when they have_".   This needs **Option 2**.  This is what is neede

[2017-08-01 12:46] timbl commented on #18
For the 3 options in step 5 above ...

Option 1 puts a constraint on any top-level app using this to be able double as a login destination page.  It is a weird thing for the development process to have to guarantee, and for devs to remember. This seems like bad design because it is abusing the page.  One can imagine the bowser starting to load the huge tree of resources the page normally has only

[2017-08-01 13:04] RubenVerborgh opened #19 "Allow the library to work in a Web Worker"
Many Web applications perform tasks in a Web Worker, and this includes fetching.
Therefore, it would be useful if this library's `fetch` would also function in a Web Worker.

Of course, the library cannot fully do everything in the Web Worker (since logging in involves redirecting etc.), but if the `fetch` functionality could be transferable to worker, that would be great. One option for this is t

[2017-08-03 15:04] dan-f commented on #19
Good idea! Could you help me by providing two details?

1) From what I can tell, all the necessary interfaces that the exported `fetch` makes use of are available in a web worker. What's the blocker here?

2) What's the particular use case you are thinking of? I generally think of web workers as being used to accomplish "heavy lifting" tasks, like processing large amounts of data. I'm not really s

[2017-08-03 15:10] RubenVerborgh commented on #19
`localStorage` is not available in a Web Worker, so I don't think the Web Worker would have the authenticated fetch.

http://client.linkeddatafragments.org/ 😄

Exactly, and this also involves fetching that data.

Not for the request itself, but the fact that the main thread does not need to send the resulting data to the worker.

[2017-08-03 18:03] dan-f commented on #19
Ah I see, the problem is `localStorage`. Odd that indexedDB is available, but not local/session storage.

Ok right. Yeah I'd be curious as to how "bad" it is, in practice, for HTTP responses to call back to the main thread when all that the main thread is doing is handing work off to a worker in another thread. For a use case like the LDF client, you'd get a lot of callbacks added to the callback

[2017-08-03 18:05] RubenVerborgh commented on #19
Yes, and a lot of data being switched between threads (I presume).

[2017-08-03 18:35] dan-f commented on #19
So after discussing, it looks like the smoothest way of accomplishing this (minimizing API changes) would be to swap out localStorage for IndexedDB. That way this lib can be easily loaded into a web worker.

[2017-08-03 19:07] #12 closed

[2017-08-08 15:31] dan-f commented on #18
Just an update from my end.

I am working on the desired workflow - redirects within the popup.

As for the callback URI - this has to be considered with security in mind. Since the UX demands that all redirects happen within the popup, the popup must use `postMessage` to communicate back with the parent application. For security reasons, it's important to specify the `targetOrigin`. A static appl

[2017-08-08 15:33] dmitrizagidulin commented on #18
`targetOrigin` from the popup can be gotten from `opener.window.location.origin` (since the popup is generated by the app itself, in js).

[2017-08-08 15:34] dan-f commented on #18
And if a malicious domain opens your popup, then whoops!

[2017-08-08 15:35] dmitrizagidulin commented on #18
The popup mechanism relies on the user verifying the url in the popup's url bar (to make sure that it wasn't opened from a malicious domain). Can't really get around that.

[2017-08-08 15:39] dan-f commented on #18
That's a separate issue.

The point of specifying `targetOrigin` when communicating to a parent window is to verify your assumption that the parent window is in fact running on the domain you think it is.

[2017-08-22 00:12] dan-f commented on #19
More catchup from offline discussions - we're moving towards augmenting the `storage` API within this library to return promises, rather than immediate values, in order to allow implementations of the interface to communicate across threads.

[2017-08-28 20:09] dan-f opened #25 "Message that there is no "logging out" of webid-tls"

[2017-08-31 15:08] dan-f opened #26 "Replace oidc-rp"

[2017-08-31 15:08] dan-f commented on #15
see https://github.com/solid/solid-auth-client/issues/26

[2017-09-01 20:23] dan-f opened #27 "Use `sessionStorage` for WebID-TLS sessions"
Since WebID-TLS does not persist across browser sessions, we shouldn't be using localStorage to indicate we have a WebID-TLS session when we in fact don't.

[2017-09-02 14:33] dmitrizagidulin opened #28 "Preserve original redirect_uri hash fragment when parsing authentication response"
Refactor `browser-util.js` / `clearHashFragment()` to preserve the original hash fragment while clearing out oidc-related hash fragment parameters.

For example, user requests the page `https://example.com/resource#someHashFragment`, and initiates a WebID-OIDC login flow.
The client will send `redirect_uri=https://example.com/resource#someHashFragment` as part of its implicit authorization flow. O

[2017-09-06 16:28] dmitrizagidulin opened #29 "npm publish v0.5.0"
Would it be possible to npm publish v0.5.0?

[2017-09-06 17:04] dan-f commented on #29
done

[2017-09-06 17:04] #29 closed

[2017-09-06 17:15] dan-f commented on #18
Fixed in #24

[2017-09-06 17:15] #18 closed

[2017-09-12 19:52] #28 closed

[2017-09-13 20:14] dan-f opened #32 "Get rid of WebID-TLS popup window for query in demo app"

[2017-09-14 13:40] RubenVerborgh opened #33 "README confuses starting and building demo/popup"
No explicit build instructions given.

[2017-09-14 13:48] RubenVerborgh opened #34 "Opening popup without caller leads to TypeError"
Just opening the generated popup HTML in the browser leads to `Uncaught (in promise) TypeError: Cannot read property 'postMessage' of null`. I think we had a more helpful error message in the past.

[2017-09-14 14:00] dan-f commented on #19
@RubenVerborgh I think this should be supported with the changes that landed in #24 (by constructing an async storage interface on top of postMessage). At some point, would you be able to test that?

[2017-09-14 14:01] RubenVerborgh commented on #19
Yes, that should definitely be possible. Might even reuse some of the existing `postMessage` logic. Will need this in the future, so I'll definitely come back to this.

[2017-09-14 14:25] dan-f commented on #33
Thanks. I'm going to reword "Building the {demo,popup} app" to "Running the {demo,popup} development server", if that sounds good to you.

[2017-09-14 14:27] RubenVerborgh commented on #33
Sounds good, but don't we need the building instructions too?

[2017-09-14 14:28] dan-f commented on #33
We have build instructions for the popup. Those last two sections are just for acceptance testing the system.

[2017-09-14 14:38] RubenVerborgh commented on #33
But `build:popup` doesn't appear in the README?

[2017-09-14 14:40] RubenVerborgh commented on #33
…ah, because that script is obsolete now. So maybe remove that script?

[2017-09-14 15:14] dan-f commented on #33
That script is not obsolete; I can add it to the README

[2017-09-14 15:15] RubenVerborgh commented on #33
No need for me; just wondering what the diff is with the new generation script then?

[2017-09-14 15:17] dan-f commented on #33
The new script simply templates the application name into the built popup.

[2017-09-14 15:17] RubenVerborgh commented on #33
Okay, fine with me then. No immediate need to have extra docs.

[2017-09-14 15:24] #33 closed

[2017-09-14 15:58] #34 closed

[2017-10-09 10:18] retog opened #37 "Add function to check if a sessionis still valid"
The session returned by `currentSession` may or may no longer be valid. In the latter case web requests will return 401. It would be handy to have a `session.isValid()` that returns true if the session is still valid and false otherwise.

[2017-10-12 00:49] timbl opened #38 "Sync version of currentUser()"
Hmmm … Looking at a lot of places where me = tabulator.preferemces.get(‘me’) is replaced by me = UI.authn.currentUser() but that last is async, returns a promise. It sems a shame that it has to return a promise — after all it should not do any net access etc
Can we make it sync, or make a sync version?

It should be a quick check and not take any time, so sync should be fine.

The  version below I

[2018-04-24 16:36] RubenVerborgh commented on #38
Might not be necessary anymore with wide async/await support in browsers: https://github.com/RubenVerborgh/solid-yo/commit/1c1d9984fdc8674395f23a58a44ad94ba6f74d33#diff-eacf331f0ffc35d4b482f1d15a887d3bR71

[2018-04-24 16:39] RubenVerborgh opened #39 "Multiple possible return types of login is clumsy"
Currently, `login` returns a promise to either a session or a function. This means that the caller has to do rather clumsy handling, e.g., https://github.com/RubenVerborgh/solid-yo/commit/6af868c9ff568c743e7517904e3ca66d0e50c944#diff-eacf331f0ffc35d4b482f1d15a887d3bR104

I propose to change `login` such that it always returns a session, knowing that it can redirect and thus might never return. (If

[2018-04-26 11:15] RubenVerborgh opened #41 "fetch should accept a Request object and relative URLs"
Bug identified as part of https://github.com/RubenVerborgh/solid-yo/commit/5e669c828572ae6aba66c8d36573d277bad17c9a#diff-71cdbcc76e910448d35274d715048124R18

[2018-04-28 11:38] timbl commented on #41
[offline] I thought fetch() always takes a URI string, while the fetcher functions like load() and nowOrWhenFetched were designed  take an object, but accept a string as well.   Load does p1.uri || p1. The fetch level knows nothing about RDF and so will not take node objects.

[2018-04-28 15:24] RubenVerborgh opened #42 "Doesn't work on iOS 11.4 Beta 1, Safari"
As reported in https://github.com/RubenVerborgh/solid-yo/issues/1

[2018-04-28 15:36] RubenVerborgh commented on #41
Given that we want a transparent abstraction, our`fetch` should follow the contract of `window.fetch`, which [allows string and `Request` as first parameters](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch).

[2018-05-08 15:17] RubenVerborgh opened #44 "Solid-auth-client mistakenly thinks cross-domain auth with WebID is possible"
It is impossible to log in with a WebID on domain A and then "transfer" that authentication to domain B (without using OIDC). However, solid-auth-client seems to think it is, mistakenly indicating "logged in" on the client side, but this login is not reflected on the server (because that is not possible).

[2018-05-18 14:27] mrkvon opened #45 "Authentication in 2 different tabs with 2 different sets of credentials confuses rights."
This issue happens on instances of node-solid-server with firefox (i.e. https://solid.community, https://solidtest.space)

## Preparation
1. Have 2 different solid accounts/WebIDs (user0, user1)
2. Create a new chat in https://user0.somehost/public/chat (_chat_)
3. Add user1 to Posters (i.e. give her Append rights). User0 should already be Owner of the chat. Now, both user0 and user1 should be abl

[2018-05-19 16:04] elf-pavlik commented on #45
I think if you open *New Private Window* instead of *New Tab* you can use two different identities in those two windows.

[2018-05-19 16:41] mrkvon commented on #45
@elf-pavlik That should indeed work, because both instances keep separate cookies.

The issue described is the following: It is possible to log into two accounts within the same browser instance, but it is inconsistent. It should be either impossible or consistent. I updated the issue to reflect this.

The issue might as well be within the particular chat app, which may deal with cookies (or whate

[2018-05-19 23:34] dmitrizagidulin commented on #45
This is interesting! You're right, that the expected behavior is that when you load the Chat app in the second tab, it should already be logged in with the first user. (Since tabs open to the same origin share both session cookies and credentials stored in localStorage).

The fact that it doesn't suggests that maybe the app is not checking for session state on page load? (Could be worth opening an

[2018-05-19 23:42] dmitrizagidulin commented on #45
(Fwiw, there was a recent bug in firefox - https://bugzilla.mozilla.org/show_bug.cgi?id=1450199 where cookies were not being synced between two tabs. But that's marked as fixed in Firefox 60, which @mrkvon is using (thanks for including the browser version in the issue, btw! :) )

[2018-07-15 12:25] timbl opened #47 "Log in credentials from TLS are ignored when accessing openid solid server"
This is written up and discussed in node-solid-server
See https://github.com/solid/node-solid-server/issues/668
though it  seems to be a bug with solid-auth-client

[2018-07-15 22:56] #39 closed

[2018-07-16 02:55] #44 closed

[2018-07-16 15:47] RubenVerborgh commented on #47
Closed through #48.

[2018-07-16 15:47] #47 closed

[2018-07-16 15:47] RubenVerborgh commented on #44
Closed through #48.

[2018-07-19 13:52] timbl opened #50 "Error: Cannot issue PoPToken - missing session key"
alert:

"You don't have, or you couldn't acess, type indexes --lists of things of different types. Create new empty ones? Error: [LTI] Error: (via loadPrefs) Logged in but cannot load profile https://www.w3.org/People/Berners-Lee/card : Error: Fetcher: fetch failed: Error: Cannot issue PoPToken - missing session key

[code]

[2018-07-19 13:57] timbl commented on #50
To reproduce:
- Go to https://timbl.com/timbl/Public/
- Select Home Pane
- Log in with my w3.org webid

[2018-07-19 14:35] RubenVerborgh commented on #50
@timbl Couple of things to check:

- Are we sure that we only have solid-auth-client 2.0.0 in all of the generated mashlib? To test, `cd mashlib; grep solid-auth-client package-lock.json`, and all mentions should have 2.0.0 in them rather than 1.0.x.

- Did you clear localStorage? The storage between 1 and 2 might not be compatible.

[2018-07-19 14:38] dmitrizagidulin commented on #50
:+1:, what Ruben said.

[2018-07-26 14:03] RubenVerborgh commented on #50
Presumed solved by v2.0.0, feel free to reopen, @timbl.

[2018-07-26 14:04] RubenVerborgh opened #51 "Ensure icons remain within bounds"
The favicon on https://timbl.com/timbl/Automation/Library/Mashup/popup.html is too large.

[2018-07-26 14:21] RubenVerborgh opened #52 "Make app name default to the host"
Instead of "Log in to APPNAME", we can just say "Log into example.org".

[2018-07-26 14:30] RubenVerborgh commented on #52
Indeed, then we can reuse the popup widely.

[2018-07-26 16:08] timbl commented on #52
When we have a single popup.html, then should we install it with NSS in a .well-known place?

.well-known/solid/popup.html

Feed its location to the JS auth logic running in the app in a way which needs less developer configuration by app developers?

[2018-07-26 19:35] RubenVerborgh opened #53 "Default to .well-known/solid/popup.html"

[2018-07-26 19:35] RubenVerborgh commented on #52
Following up on the .well-known in #53.

[2018-07-26 19:37] #52 closed

[2018-07-26 19:37] RubenVerborgh commented on #53
@timbl Maybe `.well-known/solid/auth-popup.html`?

[2018-08-01 13:29] RubenVerborgh commented on #50
Apparently the issue still occurs for @timbl.

[2018-08-03 23:02] RubenVerborgh commented on #50
Update from @timbl:

session: {authType: "WebID-TLS", webId: "https://www.w3.org/People/Berners-Lee/card#i", idp: "https://www.w3.org"}
this: ƒ PoPToken()

So the `authType` above is evidence of a solid-auth-client v1.0.0 still running somewhere.

[2018-08-06 18:08] RubenVerborgh commented on #50
There are three issues:
- The OIDC library has a state “IDP known, not logged in”, which solid-auth-client interprets as “logged in” in at least one place.
- An incomplete login leaves the state at “IDP known, not logged in”.
- The redirection after a client certificate login is broken, resulting in an incomplete login.

[2018-08-06 18:34] RubenVerborgh commented on #50
Fourth issue: https://github.com/solid/node-solid-server/blob/v4.0.15/default-views/auth/login-tls.hbs#L20 actually sets `{ authType: 'WebID-TLS', webId, idp }` in localStorage…

[2018-08-06 21:29] RubenVerborgh commented on #50
Following up in https://github.com/solid/node-solid-server/pull/737.

[2018-08-06 21:29] #50 closed

[2018-08-16 08:36] RubenVerborgh opened #54 "Allow multiple redirect URLs per host"
Right now, you cannot log in from `/a` and `/b`, because one URL is registered, and the other tries to reuse that one registration.

[2018-08-16 15:49] RubenVerborgh commented on #53
Actually, we might be more generic and name it `.well-known/solid/login` (or login-ui or auth or auth-ui), because it might also work in non-popup mode in the future.

[2018-08-19 16:15] RubenVerborgh opened #55 "Make solid-auth-client work on Safari"

[2018-08-20 20:31] RubenVerborgh opened #56 "Add login and logout events"
That way, components can just listen in order to update their state.

Right now, they have no way of knowing when another components started a login.

[2018-08-22 07:19] melvincarvalho commented on #55
Ive used it in the past on mobile successfully.  I will verify again when I get a chance.

[2018-08-24 18:52] RubenVerborgh commented on #56
Implemented in #57.

[2018-08-24 18:52] #56 closed

[2018-08-24 18:55] RubenVerborgh commented on #25
WebID/TLS has been dropped.

[2018-08-24 18:55] #25 closed

[2018-08-24 18:55] RubenVerborgh commented on #32
WebID-TLS has been dropped.

[2018-08-24 18:55] #32 closed

[2018-08-24 18:55] RubenVerborgh commented on #32
Does not occur anymore.

[2018-08-24 18:56] RubenVerborgh commented on #42
See #55.

[2018-08-24 18:56] #42 closed

[2018-08-24 18:57] RubenVerborgh commented on #38
Not possible in general, since we depend on storage that might be async.

[2018-08-24 18:57] #38 closed

[2018-08-24 18:58] RubenVerborgh commented on #27
WebID-TLS support has been dropped.

[2018-08-24 18:58] #27 closed

[2018-08-24 23:48] RubenVerborgh opened #59 "Cache window.fetch in case it is overridden"

[2018-08-24 23:52] RubenVerborgh opened #60 "Avoid "Invalid response mode" error"

[2018-08-24 23:57] #59 closed

[2018-08-25 00:04] #60 closed

[2018-08-25 01:15] #41 closed

[2018-08-27 12:17] smalinin opened #61 "Still used old oidc-rp 0.4.3 instead of solid/oidc-rp"

[2018-08-27 12:29] smalinin commented on #61
I used https://github.com/solid/solid-auth-client/tree/master
In file package-lock.json
[code]
and I have this oidc-rp 0.4.3 package after `npm install` in the `node-modules` folder

[2018-08-27 13:57] kjetilk commented on #61
Ah, right.

This depends on https://github.com/solid/oidc-rp/pull/12 and others, I suppose, which @justinwb is working on right now. I think it should be resolved shortly.

[2018-08-28 14:26] RubenVerborgh commented on #61
Indeed, I'll go with @justinwb through solid/oidc-rp#12, and then we can tackle this one.

[2018-08-29 14:36] RubenVerborgh commented on #61
@smalinin Unfortunately, this is a bigger problem than it seemed, since the API has completely changed from oidc-rp 0.4.3 to 0.7.1. I will need to make some deeper changes.

[2018-08-29 15:18] #61 closed

[2018-08-29 15:35] RubenVerborgh commented on #37
I'd suggest that we instead only return a valid session. We depend on token renewal here, however.

[2018-08-29 15:58] smalinin commented on #61
@RubenVerborgh Ok, but you could create some branch `v_0_4_3` with fixed code in `solid/oidc-rp` repo and use this branch in all solid projects via
[code]
Is it a problem or ?

[2018-08-29 16:16] RubenVerborgh commented on #61
@smalinin The upgrade to 0.7.1 should have been successful; you can test in the latest v2.2.1-rc.0.

[2018-08-30 10:46] smalinin commented on #61
@RubenVerborgh Checked, the latest solid-auth-client works properly with logout.

[2018-08-30 16:41] smalinin commented on #61
@RubenVerborgh The Logout works, but  I forgot to test with Databrowser app (mashlib.js).
If I tried to open Databrowser, I got error "Error: Cannot issue PoPToken - missing id token"

[2018-08-30 20:54] RubenVerborgh commented on #61
Yes, the localStorage between different solid-auth-client versions is different.

[2018-08-30 21:05] RubenVerborgh commented on #61
Updating the Databrowser version here: https://github.com/linkeddata/mashlib/pull/16

[2018-09-06 13:49] PulsarFox opened #62 "Unauthorized to access my pod even when connected"
I'm using the solid-auth-client on my server hosting webcomponents, and i'm trying to access a container on my pod.
The login is successful, the session variable is filled, but the fetch function doesn't seem to know i'm connected, as solid throws me a 401 Unauthorised.

Is there a fetch function on session ? Because session.fetch is undefined for me.

By the way doing the same thing with OIDCWebC

[2018-09-06 13:55] RubenVerborgh commented on #62
Which `fetch` function? Are you using `solid.auth.fetch`?

No, it's on `solid.auth`.

[2018-09-06 14:01] PulsarFox commented on #62
I'm tried with
[code]
And I also tried using auth.fetch after I made sure session variable was filled with credentials

[2018-09-06 14:10] RubenVerborgh commented on #62
Okay, that seems to be fine.

Can you point me to some failing code? Because there are still a ton of things that could be going wrong, timing being one of them.

[2018-09-06 14:11] PulsarFox opened #98 "Redirection on register only redirects me to solid server"
On my app I use the .login from OIDCWebClient or solid-auth-client (tried with both)
Then I click on "register" and on success, I expected to be redirected back on my app, but instead I get redirected on the Databrowser on the solid Server.

How can I be redirected back to my app on register success ?

[2018-09-06 14:20] PulsarFox commented on #62
Ok first I check if i'm connected or not

[code]

Then on success I call a function fetching a container on my pod

[code]

The function checking if the list exists or not

[code]

`this.account.fetch` is the auth.fetch function
`this.pathToList` is `https://savincen.localhost:8443/PlanetList/`
And my webId is `https://savincen.localhost:8443/profile/card#me`

The error code is
[code]

[2018-09-06 14:29] PulsarFox commented on #62
Thank you I was trying to find a way to do this properly, a regexp is dirty haha.

Yes, this.account is the AccountManager class, having `this.fetch = auth.fetch`

[2018-09-06 14:30] RubenVerborgh commented on #62
Mmm I'm going to need one piece of fully working code that shows the bug in order to help you. If I can't copy/paste it into my browser, it's very hard to understand what exactly is going wrong.

[2018-09-06 14:47] PulsarFox commented on #62
Well I try to push it on github but i have issues at the moment.
The code is on 3 separate files, compiled with webpack.

By the way this is the browser error
`authn-fetch.js:68 HEAD https://savincen.localhost:8443/PlanetList/ 404 (Not Found)`

I'll send you a link when git works again for me

[2018-09-10 14:32] PulsarFox commented on #62
So here's the project
https://github.com/assemblee-virtuelle/TestsWebComponentSolid
It's mainly tests with web components hosted on a server, communicating with a Solid server.
I tried with callback functions, it didn't work so I used promises (a lot)

[2018-09-10 18:27] RubenVerborgh commented on #62
Tested it with my public Solid instance, which is currently at the latest develop of node-solid-server. Worked successfully.

I'm afraid we'll need a better minimal example.

[2018-09-11 10:26] RubenVerborgh commented on #62
What version are you on?

Can you send me a full 'JSON.stringify' of the session?

[2018-09-11 10:27] RubenVerborgh commented on #62
Oh and can you also send me the contents of `https://user.localhost:8443/profile/card#me`?

[2018-09-11 10:29] PulsarFox commented on #62
I'm on the last pulled version of branch master of node-solid-server

Yea i'll send you that, by the way the requestHost at line 140 of authn-fetch.js appears as undefined

[2018-09-11 10:33] PulsarFox commented on #62
session
[code]
The contents of `https://user.localhost:8443/profile/card#me`

[code]

[2018-09-11 10:39] RubenVerborgh commented on #62
Can you add the following to your profile

[code]

and try again?

[2018-09-11 11:10] PulsarFox commented on #62
Still not working :/

[2018-09-11 11:27] RubenVerborgh commented on #62
Myeah but that doesn't really make sense:

When the `if` statement fails (https://github.com/solid/solid-auth-client/blob/v2.2.3/src/authn-fetch.js#L22), a regular request will be attempted (https://github.com/solid/solid-auth-client/blob/v2.2.3/src/authn-fetch.js#L250, and if that regular request fails with a 401 (https://github.com/solid/solid-auth-client/blob/v2.2.3/src/authn-fetch.js#L26), it

[2018-09-11 11:50] PulsarFox commented on #62
Well in shouldShareCredentials() function the requestHost value is undefined for me, so the authenticated request (https://github.com/solid/solid-auth-client/blob/v2.2.3/src/authn-fetch.js#L30) never occurs

[2018-09-11 11:55] RubenVerborgh commented on #62
`shouldShareCredentials` is called two times, does it return `undefined` twice?

It is expected to give `undefined` the first time (because the host has not been tested yet), but after `updateHostFromResponse`, it should give `true` (which is the behavior that I am observing).

[2018-09-11 12:08] PulsarFox commented on #62
It returns `undefined` only once.
I will clone the repo and try from here, it's hard to read a compiled asset haha

[2018-09-11 14:53] PulsarFox commented on #62
Update : There is no `host` in the return value from getData()
here's the returned value
[code]

[2018-09-11 15:01] RubenVerborgh commented on #62
Okay, I will check that. Still can’t reproduce, but I now have some places to take a closer look at.
Will reopen the issue as soon as the GitHub website is reachable from here again.

[2018-09-11 15:40] PulsarFox commented on #62
It seems that the login or register does not add `host` to the `localStorage`

[2018-09-11 15:42] RubenVerborgh commented on #62
It's updateHostFromResponse that should do that. Does it fail?

[2018-09-11 15:58] PulsarFox commented on #62
It doesn's seem to even enter in updateHostFromResponse.
The thing is, the scripts stop because the globalfetch() throws an error : "Failed to load resource: the server responded with a status of 404 (Not Found)"

[2018-09-11 16:13] PulsarFox commented on #62
Which is weird because a fetch() shouldn't throw an error when the uri is 404 no ?

[2018-09-11 16:50] RubenVerborgh commented on #62
But a 404 is fine. If the server responds with anything that is _not_ 401, an authenticated fetch should not be attempted. It's only when the server sends a 401, that a follow-up request is required.

So what is the behavior you expect?

[2018-09-11 16:54] PulsarFox commented on #62
Fetch throws a 404 on the web console but the solid server throws a 401. I don't know how this is possible but I thought that was usual. The solid server on my server console says 401 but on the web the request is a 404

[2018-09-11 16:56] RubenVerborgh commented on #62
Ah ☹️

So this is a bug in node-solid-server? i.e., the resource is actually not therem so you expect a 404?

[2018-09-11 17:01] PulsarFox commented on #62
Well even if the resource is there or not, when I don't have access to the resource, the AJAX gives me a 404 (and the server console a 401)
It has always given me that so I thought this was normal

[2018-09-11 17:12] RubenVerborgh commented on #62
I really cannot reproduce that "always 404" behavior. Can you reproduce this with any of the public servers, and if not, what is the exact configuration of your server?

[2018-09-11 17:16] PulsarFox commented on #62
This is the entire file configuration for my solid server :
[code]

The solid server is cloned, not installed by npm

[2018-09-11 17:20] PulsarFox commented on #62
Ok found the mistake ><
The next() on the errorHandler function was the error...

[2018-09-12 08:44] RubenVerborgh commented on #62
Since this seems to be a node-solid-server bug (if it is a bug), I'm following up in https://github.com/solid/node-solid-server/issues/782.

[2018-09-12 08:44] #62 closed

[2018-09-12 09:08] PulsarFox commented on #62
Yea it works with res.end(), thank you for your time, i'll be more careful next time haha

[2018-09-12 09:39] PulsarFox commented on #62
Update : Now the ajax call get a `res.status == 200` but the solid server still shows `401 unauthorised`..
The response of the ajax call is empty for sure

[2018-09-12 09:54] RubenVerborgh commented on #62
Is there any way you can just start the Solid server with `bin/solid`?

[2018-09-12 10:10] PulsarFox commented on #62
Yea i'll try that. I launched it on node because i don't know how to show error messages with bin/solid.
Still weird tho

[2018-09-12 10:12] RubenVerborgh commented on #62
[code]

Yeah, this is probably not sufficiently tested on the node-solid-server side.

[2018-09-17 12:34] RubenVerborgh opened #63 "Double firing of login event"
When logging in with `.login()` in the browser, I noticed that the login event is firing twice.

We should fix the cause, but perhaps also ensure that login and logout events can only fire on actual status changes.

[2018-09-30 14:17] lukepighetti opened #65 "FR: typescript defs"
Hello, just wondering if there is a future with typescript definitions for solid-auth-client. Thanks!

[2018-09-30 14:18] RubenVerborgh commented on #65
The library is currently annotated with Flow, so we'll have to choose one or the other.

That said, would https://github.com/bcherny/flow-to-typescript help?

[2018-10-01 21:19] willemneal opened #66 "Document that this is a browser-based library; point to Node utilities"
Is there an example of how to login in using node?

[2018-10-02 17:51] BinoX opened #68 "No support for Microsoft Edge"
There needs to be some kind of check to make sure that features, such as TextEncoder, are available before use and if not then provide an alternative.

Many work places are still limited to Microsoft only browsers and it would be useful if this could work from those.

I realise that Internet Explorer is probably not a valid target (Especially as Windows 7 will be out of support soon) and there wou

[2018-10-02 17:59] RubenVerborgh commented on #68
We definitely aim to support Edge, but I cannot test on Edge for lack of a Windows machine.

Is TextEncoder the only blocker or are the more?

[2018-10-02 18:32] BinoX commented on #68
It does appear to be the case, reading through the code (and modifying a few references)

Although I think there may be some issues with rdflib as well, which makes it a little difficult to play with.

JavaScript is not my primary language, so I may be wrong on this

[2018-10-02 18:36] BinoX commented on #68
Update.

Yes it is just TextEncoder. wrote a quick sample application to test.

modified the "solid-auth-client-bundle.js" by simply commenting out this line:
"var r = t.TextEncoder ? t.TextEncoder : n(58).TextEncoder;"

and I can successfully fetch and display a list of "knows"

[2018-10-02 18:37] RubenVerborgh commented on #68
Thanks for testing, will look into this.

[2018-10-02 21:09] RubenVerborgh opened #69 "Use logoutRequest instead of logout"
https://github.com/solid/node-solid-server/pull/835#issuecomment-426430501

[2018-10-02 23:38] kjetilk commented on #69
This is for 5.0.0, since that's when we have the other stuff refactored?

[2018-10-02 23:41] RubenVerborgh commented on #69
It's the client; it evolves independently.

[2018-10-03 10:04] kjetilk commented on #69
Uhm, *slaps forehead*

[2018-10-05 17:47] pavittarx commented on #66
This should be the part of docs, it took me around two days to reach here, I was about to open an issue, before I stumbled upon this.

Thanks.

Also why are login() and other methods not usable from within NodeJS? It throws an `window` is not defined error.

[2018-10-06 20:13] RubenVerborgh commented on #69
@dmitrizagidulin What parameters should I call `logoutRequest` with? I currently just get `/logout` back; no OIDC parameters in there.

[2018-10-06 22:13] dmitrizagidulin commented on #69
Excellent question. So, the [`logoutRequest` docstring](https://github.com/solid/oidc-rp/blob/master/src/RelyingParty.js#L305) goes into detail on each parameter, but I'll summarize:

* `id_token_hint` (required for our workflow) - this is the serialized ID Token from the session object. It serves to authenticate the user to the logout endpoint, etc.
* `post_logout_redirect_uri` (optional but usef

[2018-10-06 22:15] RubenVerborgh commented on #69
Thanks, but do any of these result in OIDC credentials being passed to the endpoint, instead of relying on cookies? Because that was the reason for migrating, as per https://github.com/solid/node-solid-server/pull/835#issuecomment-426430501.

[2018-10-06 22:15] RubenVerborgh commented on #69
@dmitrizagidulin But where do I get `id_token_hint` from?

[2018-10-06 22:17] dmitrizagidulin commented on #69
It’s just the ‘id_token’ from session

[2018-10-06 22:17] RubenVerborgh commented on #69
Ok let me try that, thanks!

[2018-10-07 05:41] pavittarx commented on #66
Thank you, I'll add my suggestion soon.

Also this part in docs, gives an impression that `solid-auth-client` can be used with NodeJs, what is this for? It is present in the `readme` of this repo.

[code]

It is just because, there are no links or information about support channels, I didn't have clue about it. I recently joined https://gitter.im/solid/chat Please let me know, if there are any oth

[2018-10-07 05:59] pavittarx opened #71 "Issue with Login operation"
The issue I am currently facing is I am unable to log in, I get an CORS error in my browser console.

I am using `solid-auth-client` bundle available here: https://github.com/solid/solid-auth-client/tree/gh-pages/dist . It has been added using rawgit.com CDN.

The snippet to javascript of my login operation is here,

[code]
The behavior of `solid-auth-client` has changed from few hours, it now re-

[2018-10-07 13:11] RubenVerborgh commented on #71
Best not to use the CDN version, which is the latest master. That said, I'll look into this issue.

[2018-10-08 03:02] pavittarx commented on #71
Thanks, I will try using a bundle created from the release source, and let you know.

[2018-10-09 02:01] pavittarx commented on #71
@RubenVerborgh The error was fixed.
It was being produced because, I was using a different domain than an IDP provider and the url was identical. I was using `https://stripe.community` instead of `https://solid.community`, in my own code.
It produced an CORS Error, and everything becomes obvious after that.
It is that, there should be a way to check if the provided URL is actually a solid server o

[2018-10-09 02:01] #71 closed

[2018-10-09 14:29] RubenVerborgh commented on #71
Great, thanks for letting us know.

[2018-10-09 16:06] sentenza commented on #65
It would be nice to add the type definitions added to the TypeScript [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) repository. There are already a couple of generators/examples that use Angular and Typescript, so it would make sense having the relative types well defined.

[2018-10-10 16:43] RubenVerborgh opened #73 "Error: expected postMessage call for 'storage/getItem' to return a string, but got value null"
When opening the popup in Chrome from an `http:` host, the following bug can occur:

[code]

As reported by @oshanis and others.

[2018-10-12 16:53] sentenza opened #74 "Cannot find module "algorithms/RSASSA-PKCS1-v1_5""
I'm developing an Angular6+ [solid-app](https://github.com/solid/solid-spec#overview) ([codebase](https://github.com/sentenza/ng-solid-material)). The app itself depends on:

    "crypto-js": "^3.1.9-1",
    "rdflib": "^0.19.0",
    "solid-auth-client": "^2.2.6",
    "stream": "0.0.2",
    "webcrypto": "^0.1.1",
    "zone.js": "^0.8.26"

What I'm trying to do is deleting a RDF resource using [`rdf

[2018-10-12 16:56] dmitrizagidulin commented on #74
Hi @sentenza. Are you excluding the `webcrypto` module in your Webpack config? (It and a couple others must be present in the `externals:` section of the config.

[2018-10-12 17:14] sentenza commented on #74
Do you [this piece of configuration](https://github.com/sentenza/ng-solid-material/blob/3b8635c2e0f56c1dac5728be17171edf1409be84/package.json#L13)?

[2018-10-12 17:15] dmitrizagidulin commented on #74
I mean more like this: https://github.com/solid/solid-auth-client/blob/master/webpack/webpack.common.config.js#L23 (I don't think it's equivalent to the section you link to)

[2018-10-12 20:07] RubenVerborgh commented on #74
Indeed, @dmitrizagidulin has the correct cause. This piece of code shouldn't be executing in the browser. Instead, the browser should be using the browser's built-in `crypto` instead of `@trust/webcrypto`. With webpack, this can be achieved by using the config linked to above.

[2018-10-12 20:07] #74 closed

[2018-10-13 08:14] melvincarvalho opened #75 "Reading and Writing Data only shows Reading"
There is a section on the [README](https://github.com/solid/solid-auth-client/blob/master/README.md) called reading and writing data.  However it only shows how to read, and not write.  I think it would be helpful to add an example to write data with an HTTP PUT.

### Reading and writing data
The `fetch` method mimics
the browser's [`fetch` API]((https://fetch.spec.whatwg.org/)).
You can use it to

[2018-10-13 18:38] rimmartin commented on #75
Yea, as a user I've been testing and trying out different folder/file operations:  My current write looks like
[code]
where I'm serving a node-solid-server at https://localhost:8443/ that I setup with developer credentials and can get the current session and my webId earlier.
and file is the file name
data is a string of a text file.

headers can be added to set Content-Type but this one is text/p

[2018-10-13 19:10] melvincarvalho commented on #75
@rimmartin very nice!

Here's the code I also found in solid-yi

[code]

[2018-10-13 20:44] #73 closed

[2018-10-13 23:50] RubenVerborgh commented on #66
Some inspiration in #72.

[2018-10-13 23:51] RubenVerborgh commented on #73
While the `storage/getItem` issue is solved, I'm not sure whether this was the main reason of the original bug, given that this issue would result in warnings but not any breakage.

Possibly, `Cannot read property 'importKey' of undefined` is the real problem here, but I cannot reproduce.

[2018-10-14 14:39] rimmartin commented on #75
To put in more folders my latest attempt is by applying rdflib.js to the Cnntaier

[code]

It gets into the store [IndexedFormula] alright and I can list it on the container but the updater throws

[code]

Close to working; I may have a cors issue yet I'm testing all on the same server

[2018-10-14 15:41] rimmartin opened #76 "registering to bower and versioning?"
Hi,

Would i be possible to register https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js to bower? and it gets versioned?

[2018-10-14 15:49] RubenVerborgh commented on #76
Is Bower still used these days? I can have a look.

[2018-10-14 16:18] rimmartin commented on #76
doesn't have to be.  is there nowa more preferred front end registry? browserify? I haven't tried browserify yet it is a different purposed tool.  Maybe.

[2018-10-14 16:19] RubenVerborgh commented on #76
browerify doesn't offer a registry as far as I know. Are you a bower user?

[2018-10-14 16:35] rimmartin commented on #76
use it and gulp to gather front-end pieces/parts which are already 'built' so that I'm not building everything.  But maybe  should change my ways if it is now just easier to build the javascript distributions.  A lot of javascript libraries are organized dfferently than each other [generally not as organized as server side npm projects].

Javascript files under node_modules and/or bower_components

[2018-10-14 16:40] rimmartin commented on #76
for example projects like  cytoscape.js, jquery, antlr/antlr4 and jstree are easier to get the distributions with a bower

[2018-10-15 08:45] RubenVerborgh commented on #75
I agree we should add a write example to the README, but we should be careful this does not become a Solid read/write tutorial. A write example would be good to show how solid-auth-client works, but other examples are more about how Solid works, and they belong in the Solid docs.

@melvincarvalho Do we currently have such examples on the website? If not, we might want to make a separate issue for

[2018-10-15 08:54] melvincarvalho commented on #75
@RubenVerborgh there may be, but im not aware of something with solid.auth.fetch.

Agreed.  So the question is whether to use PUT, POST or PATCH.  I feel PUT would be most suitable for the target audience.

[2018-10-15 14:45] megoth commented on #76
I would not recommend facilitating code for Bower, as they themselves recognize that they're outdated; [they're very open about that people should migrate away from Bower](https://bower.io/blog/2017/how-to-migrate-away-from-bower/)...

[2018-10-15 14:58] RubenVerborgh commented on #76
Okay, that settles it then!

[2018-10-15 23:13] melvincarvalho commented on #73
It is, but I keep getting it over and over (running on localhost) and it's driving me crazy.  All my libs are up to date.  Cryptic.  With post more if I make progress.

[2018-10-15 23:14] RubenVerborgh commented on #73
Perfect, please create a new issue with this.

[2018-10-15 23:33] melvincarvalho commented on #73
If it's the importKey error occured when I was running on localhost with a self signed cert.

When deployed to gh-pages with an ssl cert the error went away.

[2018-10-15 23:34] RubenVerborgh commented on #73
Interesting, can you make that into a reproducible issue? (I don't run into it myself, seemingly same circumstances.)

[2018-10-17 01:56] rimmartin commented on #75
Ok, learned to use rdflib less and this api more:-)

[code]
will create an empty container where path = "scad/scad-poser"

Intermediate containers aren't made so I plan to step thru and create them if they don't already exist

Looks like I'll be able to put solid to use:-)

[2018-10-17 12:42] megoth commented on #66
I guess you've seen this in Gitter, but just in case; We've opened a forum now ^_^ https://forum.solidproject.org/

[2018-10-18 14:36] justinwb commented on #55
Quick bit of extra info - I can reproduce this on desktop safari on macos.

<img width="1439" alt="screen shot 2018-10-18 at 10 35 00 am" src="https://user-images.githubusercontent.com/627228/47162272-a5fad380-d2c1-11e8-83d4-8d10275a8b64.png">

[2018-10-18 15:40] RubenVerborgh commented on #55
Yes, confirmed! It works from the home page, but not from the 401.

[2018-10-18 20:29] RubenVerborgh commented on #55
So… it is a longstanding Safari bug with 302 redirects: https://bugs.webkit.org/show_bug.cgi?id=158420

https://rubentest.solid.community/ still uses `/common/popup.html` as popup URL, whereas the 401 page uses `/.well-known/solid/login`. The latter 302 redirects to the former, and the browser is supposed to send the hash (containing the OIDC login info) along with that. But it doesn't.

So I will

[2018-10-18 21:36] #54 closed

[2018-10-18 21:38] RubenVerborgh opened #77 "Maintain multiple configurations in localStorage"
Currently, localStorage can only contain one RP configuration, but this configuration is specific to the IDP and the redirect URI. If any of these are different, a new RP is created (which was introduced to fix #54). This potentially creates a lot of RP entries on the server.

[2018-10-18 22:12] melvincarvalho commented on #77
Much needed.  I think I've been running into this alot today.

Will create reproducible steps if I can nail them down.

[2018-10-18 22:13] RubenVerborgh commented on #77
@melvincarvalho You will not run into any visible problems anymore after #54. But the consequence of that fix is that many RPs are created under the hood. It will work—it's just not efficient.

[2018-10-20 23:38] rimmartin opened #78 "bodyUsed consistently false"
Hi,

on fetches of text/plain MIME type the bodyUsed stays false

[code]

I'm using today's clones of this project and node-solid-server.  Using curl The content I pushed in with this project is returned
[code]

Is there anything that needs to be set?  Any header?  The same result with
[code]
bodyUsed is false and get header stuff and ok is true status 200

[2018-10-21 08:49] RubenVerborgh commented on #78
This is expected behavior of `window.fetch`, and thus of `solid.auth.fetch`.

[`bodyUsed`}(https://developer.mozilla.org/en-US/docs/Web/API/Body/bodyUsed) indicates whether the body has been read yet, and above, you are not reading it, so it is `false`. You seem to interpret it as a `hasBody` flag, which it is not.

In this example, you will see that it is `false` before you read it, but `true` af

[2018-10-21 08:49] #78 closed

[2018-10-22 13:00] alexstanford commented on #68
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/encodingstandard/?q=Encoding

[2018-10-22 19:32] RubenVerborgh opened #79 "TypeError: Cannot read property 'importKey' of undefined"
See https://github.com/solid/profile-viewer-tutorial/issues/4

Needs steps to reproduce

[2018-10-24 14:20] james-martin-jd opened #81 "Unable to import solid-auth-client"
When attempting to import solid-auth-client (tried many different ways, most recently "import * as solid from 'solid-auth-client'") it is undefined.

I've been unable to import it into any apps using the es6 style notation. Instead, I've resorted to including the script manually and adding declare let solid; into pages or classes that need to use it.

For applications that aren't using webpack and

[2018-10-24 20:38] theefer commented on #81
@RubenVerborgh Would you consider refactoring the library to use ES6 modules? You could still use something like Rollup to export bundles in various formats (CommonJS, AMD, UMD), as well as a single-file ES6 bundle which would also enable tree-shaking of unused exports, something that could make a step towards #15.

[2018-10-24 20:39] RubenVerborgh commented on #81
But they are ES6 modules? 😄

[2018-10-24 21:00] theefer commented on #81
Doh I must have got confused with rdflib, or somehow the sources in the npm package... My mistake!

Perhaps it might help @james-martin-jd if the npm package also included ES6 modules, rather than CommonJS-transpiled JS? I wonder if this would also enable tree-shaking, by importing sources from the lib folder rather than the dist-lib bundle.

[2018-10-25 14:05] megoth commented on #81
Maybe use the "module"-property in package.json?

- [pkg.module](https://github.com/rollup/rollup/wiki/pkg.module)
- [Setting up multi-platform npm packages](http://2ality.com/2017/04/setting-up-multi-platform-packages.html)
- [A minimal setup for Babel-based npm packages](http://2ality.com/2017/07/npm-packages-via-babel.html)

I think this would enable tree-shaking and the like, as @theefer menti

[2018-10-25 16:33] RubenVerborgh commented on #81
Ah, I can easily do that, since I already include the src folder with the distribution anyway.

There's not going to be a lot of shaking I think for solid-auth-client, but yes.

[2018-10-25 16:37] #81 closed

[2018-10-25 20:07] kjetilk opened #82 "Improve generic error handling"
There have been issues with the "Log In" button in the popup being unresponsive.  I still have this problem, https://github.com/solid/node-solid-server/issues/884 and others had this problem due to an expired cert.

There should be some kind of feedback to the user in this situation, at least an error that they can go to the forum about. Perhaps there should even be a forum link in the error messa

[2018-10-25 22:30] theefer opened #83 "Sources in npm package are not standard JS (Flow)"
https://github.com/solid/solid-auth-client/commit/59accd0378f8715f17c63b167d27b1a217bcb9ab is a great step toward making it easier to consume `solid-auth-client` as ES6 modules, but the sources in the npm distribution contain Flow type annotations, so they cannot be consumed easily without setting up extra preprocessing steps.

There might be value in exposing the Flow sources (though I myself usu

[2018-10-25 23:04] kjetilk commented on #55
This is fixed, right?

[2018-10-26 08:13] RubenVerborgh commented on #82
I think the problem is that the feedback never reaches the client code. Fetchers in the browser are not allowed to see many details about request failures, as these can be exploited.

But I can probably set a timeout that results in an error message.

Can someone post exact steps to reproduce?

[2018-10-26 08:40] kjetilk commented on #82
Hmmm, but in my case, it happens without any network interaction, and it only happens on my laptop, so it is clearly highly environment dependent...  Awfully hard to reproduce... I'll tinker with some plugins and see if that matters, at least.

In JD's case, they had an invalid cert on the WebID provider. Presumably, it can be reproduced simply by having that. These are two very different bugs, bu

[2018-10-26 14:18] RubenVerborgh commented on #55
Yes, #872.

[2018-10-26 14:18] #55 closed

[2018-10-26 14:19] RubenVerborgh commented on #83
Right, good point.

[2018-10-28 20:50] y0va opened #84 "Demo does not work with firefox"
While the demo app works fine with chromium, with firefox just nothing happens when I click on *Log in*.

In the console I find

[code]

[2018-10-28 20:51] RubenVerborgh commented on #84
It does work with Firefox, as this is what I test on, but perhaps we follow slightly different steps. Can you explain step by step what you are doing? Thanks.

[2018-10-28 20:53] y0va commented on #84
Sorry,  probably the popup opened in the background. :flushed:

Works now.

[2018-10-28 20:53] #84 closed

[2018-10-28 20:53] RubenVerborgh commented on #84
Awesome 👍

[2018-10-31 15:27] JordanShurmer opened #85 "Unable to use login() and logout() when using npm package"
I've got a [project set up](https://github.com/JordanShurmer/psop) which loads solid-auth-client as an npm dependency.

Any call to `logout()` or `login()` fails with a console error saying

[code]

If I replace the usage of the npm package with the bundled js at https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js then it works without a problem. You can see this working in

[2018-10-31 16:19] james-martin-jd commented on #85
I've run into this issue as well. When I manually reference the bundled script in a <script> tag it works fine, but if I import, login throws the same error.

[2018-10-31 17:44] RubenVerborgh commented on #85
Your webpack configuration for building your project is not correctly set up. If you are building for the browser, you need to [exclude Node=specific libraries](https://github.com/solid/solid-auth-client/blob/v2.2.10/webpack/webpack.common.config.js#L23-L29).

[2018-10-31 17:44] #85 closed

[2018-10-31 17:46] RubenVerborgh opened #86 "Error when Node-specific code is used in the browser"
Should make #85 clearer.

[2018-10-31 17:50] RubenVerborgh opened #87 "Document instructions on how to configure webpack"
Document in README.
Also export the `externals` such that people simply can reuse them.

Should make #85 clearer.

[2018-11-02 11:03] csarven commented on #83
I have `"solid-auth-client": "^2.2.9"` in package.json. Is the following related to this issue:

[code]

[2018-11-02 11:39] RubenVerborgh commented on #83
@csarven You need the correct webpack config (#85).

[2018-11-02 17:12] #83 closed

[2018-11-02 21:28] RubenVerborgh commented on #86
Obsoleted by 3eb6b2dc3eee0ba4644b88a5f4d2e0b701166bb5.

[2018-11-02 21:28] #86 closed

[2018-11-02 21:28] RubenVerborgh commented on #87
Obsoleted by 3eb6b2dc3eee0ba4644b88a5f4d2e0b701166bb5.

[2018-11-02 21:28] #87 closed

[2018-11-02 21:40] #66 closed

[2018-11-02 21:49] RubenVerborgh opened #88 "Reduce popup code size"
The popup should not contain any OIDC code; it can just pass anything to the parent.
`auth.login` could pass the URL instead of redirecting.

[2018-11-09 14:06] RubenVerborgh opened #89 "Don't pre-package libs into browser version"
Instead of 3eb6b2dc3eee0ba4644b88a5f4d2e0b701166bb5, we can also do https://github.com/defunctzombie/package-browser-field-spec#replace-specific-files---advanced

[2018-11-12 12:44] megoth opened #90 "Should handle copying of headers when they're of type Headers"
`options.headers` might be a simple object or iniated with [the Headers API](https://developer.mozilla.org/en-US/docs/Web/API/Headers). Copying an object of type `Headers` using [spread syntax](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax) will not copy the key-values stored within the object.

As `auth.fetch` is a wrapper for the [Fetch API](https://de

[2018-11-12 13:00] RubenVerborgh commented on #90
Can we just fix it in `webid-oidc.js` by replacing
[code]
with
[code]

where

[code]

Then we can simply test in `solid-auth-client.spec.js` as a variant of https://github.com/solid/solid-auth-client/blob/v2.2.11/src/__test__/solid-auth-client.spec.js#L527.

[2018-11-13 21:58] RubenVerborgh commented on #89
@rubensworks This did not work; I assume because `@trust/webcrypto` is a transitive dependency.

[2018-11-13 21:58] #89 closed

[2018-11-14 07:15] rubensworks commented on #89
Hmm, that's too bad.

Perhaps it can be solved by either:
* Add a `browser` entry to `@trust/webcrypto` directly. (This assume we have push-access or can PR to https://github.com/anvilresearch/webcrypto)
* Or, we can create an `isomorphic-webcrypto` wrapper package, similar to [`isomorphic-fetch`](https://www.npmjs.com/package/isomorphic-fetch).

[2018-11-14 08:33] RubenVerborgh commented on #89
@rubensworks Very probably; however, we don't want to touch the `@trust` libraries for now. (They seem to have an issue on this though: https://github.com/anvilresearch/webcrypto/issues/57) Maybe I can have a look at getting rid of them altogether in favor of https://www.npmjs.com/package/isomorphic-webcrypto.

[2018-11-14 08:33] RubenVerborgh commented on #89
…which turns out to be just https://github.com/kevlened/isomorphic-webcrypto/blob/master/src/index.js

[2018-11-14 08:36] rubensworks commented on #89
Oh, so that's exactly what we need then :-)

`isomorphic-webcrypto` seems up-to-date with `@trust/webcrypto`, so it should be low-effort to transition to that.

[2018-11-19 17:43] RubenVerborgh opened #92 "Don't load external resources in the popup"
We currently load favicons; they might be use to detect where people are logging in.

[2018-11-19 17:43] RubenVerborgh opened #93 "Make "custom provider" the default option in the popup"
…and don't call it "custom".

[2018-11-19 21:46] kidehen commented on #93
@RubenVerborgh,

What about "Identity Provider" or "Preferred Identity Provider" rather than "Custom Provider" bearing in mind this is about selecting from which Identity Provider one's credentials are to be authenticated?

[2018-11-19 22:37] #92 closed

[2018-11-19 23:00] #93 closed

[2018-11-19 23:40] kidehen commented on #93
@RubenVerborgh,

"Pick Your Identity Provider" or "Pick Your Preferred Identity Provider" since a WebID could verified by a variety of Providers.

[2018-11-20 10:33] RubenVerborgh opened #94 "Explain how and why of popup, trade-offs etc."

[2018-11-25 23:37] bushidocodes opened #95 "Not getting redirected to Solid Community Login as expected in Chrome"
I've been building a demo app using @solid/react in preparation for a talk I'm giving on Solid to NationJS, a big JavaScript conference in Washington, DC. The app is functionally similar to some of the profile viewers out there, but takes close design inspiration from a certain well known social network.

My MVP is functionally complete and up at https://5bfb1fc2b13fb10671d78e6e--competent-babbage

[2018-11-26 12:46] RubenVerborgh commented on #95
Could not reproduce on Chrome 70.0.3538.102 on macOS.
What version are you using?

[2018-11-27 11:33] JornWildt commented on #95
Just tried to disable privacy badger - and now it works even in normal browser mode. Fun thing is that it continued to work after I enabled Privacy Badger again. Duh?

[2018-11-27 12:55] megoth commented on #95
This might be related to https://github.com/solid/node-solid-server/issues/921

[2018-11-27 13:22] elf-pavlik commented on #19
I start playing with https://github.com/PolymerLabs/actor-boilerplate
Explained in this recent Google Chrome Devs video: https://www.youtube.com/watch?v=Vg60lf92EkM

They also recommend as rule of thumb only use the main thread for UI (DOM, canvas etc.) related functionality. I think many people would want to run actors using solid-auth-client in a web worker (sometimes also Service Worker) https:

[2018-11-27 13:40] RubenVerborgh commented on #95
Probably an't do that, because `net::ERR_BLOCKED_BY_CLIENT` does not bubble up to JavaScript. The request fails silently from our perspective; same with cross-origin issues.

We can set a timeout, but we do not know the reason.

[2018-11-27 13:41] RubenVerborgh commented on #95
Note to self: ask people (in issue template?) to list their browser extensions

[2018-11-27 14:34] kjetilk commented on #95
Yeah, interesting it is not just me... I suppose we should reach out to the Privacy Badger team.

[2018-11-27 20:44] csarven opened #96 "Clean-up after logout"
Is there a particular reason why `logout()` doesn't remove `solid-auth-client` in `localStorage`? Since the session is killed, there is nothing in particular in solid-auth-client in localStorage that's useful (AFAICT). `requestHistory` appears to grow on subsequent logins with solid-auth-client sticking around. Hmm. Perhaps do a complete clean-up on logout()?

[2018-11-27 20:45] RubenVerborgh commented on #96
Your IDP is remembered for next time, very important for usability.

Yes, we probably want to remove that one, or at least prevent arbitrary growth.

[2018-11-27 20:48] csarven commented on #96
Do you mean that it is remembered so that popup should be able to reuse it? Auto-sign-in when it comes up? If that's so, I'm not experiencing that ie. I'll have to select the IdP again.

[2018-11-27 20:49] csarven commented on #96
or do you mean that the applications can reuse that information ie skipping popup?

[2018-11-27 21:05] RubenVerborgh commented on #96
Yes. Especially visible in 2.2.13 now (not hidden behind "custom IDP" button anymore).

That was deemed undesirable because then you couldn't switch accounts on the same IDP.

Not what I meant, but actually possible too!

[2018-11-30 10:09] RubenVerborgh commented on #95
Ah and that is fixed on latest version.

[2018-11-30 12:07] JornWildt commented on #95
If popup.html embed images and javascript etc. from external services then I guess Privacy Badger does it job as it is supposed to and how I want it to. In that case popup.html is nothing better than embedded Facebook trackers - you allow a central actor to be notified of each and every Solid login attempt from all over the web by all Solid users - even if they choose to login with their own priva

[2018-11-30 12:10] RubenVerborgh commented on #95
Yeah, had to trade UX for privacy.

[2018-11-30 12:12] JornWildt commented on #95
And now we are bashing privacy issues, then I believe your recommended usage is just as bad. The code example starts with this line:

    <script src="https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js"></script>

And that is needed on ALL pages that uses Solid since it contains the session tracking code.

This means github.io now tracks all Solid websites that uses your re

[2018-11-30 13:29] RubenVerborgh commented on #95
Yeah, there we have to trade DevX for privacy too 👍

[2018-11-30 13:31] RubenVerborgh commented on #95
Unfortunately, the screenshot above is already the latest version that does not include any external resources, so Privacy Badger must be triggered by something else.

[2018-11-30 13:31] RubenVerborgh opened #97 "Do not recommend usage of external assets"
https://github.com/solid/solid-auth-client/issues/95#issuecomment-443186026

[2018-12-01 13:49] leinue commented on #98
I also encountered this problem. Has this problem been solved?

[2018-12-01 14:17] leinue commented on #98
I hope that I can add rediectUrl in solid-auth-client

[2018-12-03 19:46] james-martin-jd opened #99 "When using Login(), currentSession remains null"
The popup login call is working fine, but recently (as far as I can tell, without changing versions of solid-auth-client as this even affected older code) the login() call has started behaving oddly. The call succeeds, and I can see the localStorage object being created with relevant data, but currentSession (or any variation of getting the current session) returns null. This means for all intents

[2018-12-03 20:05] RubenVerborgh commented on #99
I added regular `login` to the demo app in 506c281b1969b2aa8a972be6d73a61ef3263edbb and followed the steps here https://github.com/solid/solid-auth-client/tree/v2.2.13#demo-app to start the demo app. Login with and without popup works for me.

Can you provide exact steps for the above behavior?

[2018-12-03 21:36] james-martin-jd commented on #99
The exact call we're using is:
`await auth.login(idp, {
    callback,
    storage: localStorage
});`

When doing it this way, login succeeds, but any subsequent attempts to load session error our as the session is null.

[2018-12-03 23:29] RubenVerborgh commented on #99
So I could imagine some concurrency bugs that might lead to such behavior, which I have addressed in dc34a3c9ddc912aa03abb71de7e90589f6a03042 and b3f9fcde4a88e325b834d6d045ff3e491b3528eb and released as v2.2.14.

Would these by any chance fix what you're seeing?
If not, I'll need minimal example code that showcases the bug.

[2018-12-04 15:53] james-martin-jd commented on #99
I pulled the latest version (and confirmed it's running) but the error still persists unfortunately. I will provide code sample shortly.

[2018-12-10 20:20] gibsonf1 commented on #68
My main machine is Ubuntu, but I run Windows 10 in a virtual box vm for testing - works great and no charge.

[2018-12-11 03:29] dprat0821 opened #100 "README Logging in snippet should include the key "popupUri""
In the **Logging in** session of README.md, there is a snippet of _popupLogin_ with the following statement:
`session = await solid.auth.popupLogin({ popupUri });`
Got blank popup page with it. After checking the source code I tried and found that it should be
`session = await solid.auth.popupLogin({ popupUri: popupUri });`

My envrionment: MacOS, Angular 7.0.4, Node: 8.12.9. OSX 10.14.2.

[2018-12-11 09:34] pheyvaer opened #101 "Explain details of fetch function"
The readme states `The fetch method mimics the browser's fetch API.` Does this mean that the input and output are exactly the same as the browser's fetch API?

[2018-12-11 10:15] RubenVerborgh commented on #100
Given that

[code]

is syntactic sugar for

[code]

I strongly suspect the error is somewhere else. Can you verify>

[2018-12-11 12:34] kjetilk commented on #95
I was looking into this, since I still have this issue on NSS 5.0.0 beta.2. In the current version, there are no external dependencies, so we have concluded that the cause for this is unknown, right?

I was thinking that we might file an issue [with Privacy Badger](https://github.com/EFForg/privacybadger), but simply saying "Privacy Badger doesn't work with Solid" isn't a terribly good report. Are

[2018-12-11 13:04] RubenVerborgh commented on #95
I would suggest to have a public demo somewhere, and already get the discussion going over at Privacy Badger. They might be able to say what we should look for (for instance, switch on certain debug flags).

[2018-12-11 13:05] RubenVerborgh commented on #101
Indeed, that is what we are aiming for.

Did you find inconsistencies? Or should we document/explain this better?

[2018-12-11 13:11] kjetilk commented on #95
Right!

I'll create a test account on dev.inrupt.net and include a password in the report.

[2018-12-11 13:32] RubenVerborgh commented on #100
Happy to hear it works 🙂

[2018-12-11 13:32] #100 closed

[2018-12-11 14:00] kjetilk commented on #95
Arrggh! So, it works for me on https://dev.inrupt.net/ ... @JornWildt , @bushidocodes , can I ask you to create an account there and see if you are able to reproduce?

[2018-12-11 14:08] pheyvaer commented on #101
No inconsistencies. It's about the documentation: I would clearly state that the goal is to have the same input/output.

[2018-12-11 15:41] JornWildt commented on #95
I could(!) reproduce it somewhat consistently on for instance https://solidrc.azurewebsites.net/home/login# which is running an older version of "login.html". But it is not easy - you have to use the old login.html from at least four different websites before it triggers Privacy Badger.

So I have https://elfisk.solid.community/, https://solidrc.azurewebsites.net/home/login#, https://localhost:500

[2018-12-11 15:43] JornWildt commented on #95
If it "works for you" then try running the new server version on localhost and add a couple of entries for 127.0.0.1 in the "hosts" file, such that you can use the same local server on different hostnames. Then, after logging in via solid.community from a couple of hostnames (4 times works for me), PB should start blocking it - it last it does for me on the old server.

[2018-12-11 15:49] JornWildt commented on #95
I just tried a few logins on dev.inrupt.net (for instance https://aviana.dev.inrupt.net/common/popup.html) and PB blocks https://solid.community/.well-known/openid-configuration when I click "Login" and "Solid community". So the new server has the same issue with PB.

[2018-12-11 15:49] kjetilk commented on #95
OK, I managed to reproduce it now, I think. At least I saw the problem I saw in https://github.com/solid/node-solid-server/issues/883 . I saw it when I logged into my own site https://solid.kjernsmo.net/ with the test identity https://testpb.dev.inrupt.net/profile/card#me identity. Not a particularly spectacular fail, but a fail nonetheless ;-)

[2018-12-11 15:50] kjetilk commented on #95
OK; great! I think I have enough to submit to PB. :-)

[2018-12-11 15:55] kjetilk commented on #95
Oh, they have some stuff in https://github.com/EFForg/privacybadger/wiki/Find-out-why-Privacy-Badger-is-blocking-a-domain if you want to help out submitting it, @JornWildt . If you do, I can follow up with posting an account and password to help them look into it.

[2018-12-11 16:25] JornWildt commented on #95
Tried it and got:

**** ACTION_MAP for solid.community
elfisk.solid.community {
  "dnt": false,
  "heuristicAction": "block",
  "nextUpdateTime": 1543923490370,
  "userAction": "user_allow"
}
solid.community {
  "dnt": false,
  "heuristicAction": "block",
  "nextUpdateTime": 1544823052811,
  "userAction": ""
}
**** SNITCH_MAP for solid.community
solid.community [
  "localhost",
  "elfisk.dk",
  "s

[2018-12-11 16:37] kjetilk commented on #95
OK, yeah, don't know how much it helps, but I'll submit to see if they can figure out something.

[2018-12-14 00:35] boulderwebdev opened #102 "Feature Request: solid.auth.register"
It would be nice if there was an API call in `solid.auth` similar to `login` where you pass in the URL of an identity provider and you are sent over to their registration page. For example,
[code]
would redirect you to `https://solid.community/register` with the correct query parameters (mainly redirect_uri).

[2018-12-14 12:12] pheyvaer commented on #101
If you want I can add an extra sentence to the documentation via a PR. Let me know 😄

[2018-12-14 12:14] RubenVerborgh commented on #101
Yes please!

[2018-12-30 16:33] #101 closed

[2019-01-09 19:40] james-martin-jd commented on #99
This error eventually went away on its own. We suspect there was some kind of cached item that was corrupt somehow. This happened on multiple machines with multiple users, but it has not recurred since.

[2019-01-09 19:40] #99 closed

[2019-01-11 10:04] scenaristeur opened #104 "prepend Numerical ID , the url of the real created file ?"
the https://github.com/jeff-zucker/solid-file-client/ uses the  solid.auth.fetch(url,request).

[code]

https://github.com/jeff-zucker/solid-file-client/issues/8

So is it possible to retrieve that prepend Numerical ID , the url of the real created file ?

[2019-01-11 19:14] rimmartin opened #105 "travis says pass yet log says "Error logging in with WebID-OIDC""

[2019-01-14 17:19] scenaristeur commented on #104
yes , it sounds good, the real url could be retrieved with
var location = response.headers.get('location')
var file = location.substr(location.lastIndexOf('/') + 1)
var url = parentFolder+file;

[2019-01-14 22:44] RubenVerborgh commented on #104
That worries me a bit, should probably be:

[2019-01-14 22:44] #104 closed

[2019-01-15 09:55] scenaristeur commented on #104
Txs

[2019-01-24 14:38] #98 closed, assigned to rubensworks, mielvds

[2019-01-26 03:11] leinue opened #106 "No cookies when request to NSS5"
I use solid.authing.cn for testing NSS5.
When I logined as `alicea`, solid-auth-client doesn't carry cookies.

![image](https://user-images.githubusercontent.com/2469688/51781937-fd2f0080-215a-11e9-9a32-7905eb091dcc.png)

[2019-01-27 23:16] RubenVerborgh commented on #106
@leinue Could you please post exact steps to reproduce? Thanks!

[2019-02-01 00:29] elf-pavlik opened #107 "solid:oidcIssuer discovery"
https://github.com/solid/webid-oidc-spec#issuer-discovery-from-webid-profile

I have currently initial deployment of NSS5.0.0-beta.6 on one domain to act as Resource Server holding my WebID Profile. I also have another deployment of NSS5.0.0-beta.6 to act as Identity Provider (OIDC Issuer). When I test latest master of this repo and enter my WebID in the popup, it makes request directly to `/autho

[2019-02-01 00:45] dmitrizagidulin commented on #107
Ah, interesting. I think I know why that is (has to do with design assumptions). I’ll take a look at the code, to be sure.

[2019-02-02 18:58] elf-pavlik commented on #107
It looks that indeed [`webid-oidc.js'](https://github.com/solid/solid-auth-client/blob/f9ac64cf0b6408ee293ba4943a6b4dd4a5960eb9/src/webid-oidc.js) makes some assumptions it shouldn't.

* [`login()'](https://github.com/solid/solid-auth-client/blob/f9ac64cf0b6408ee293ba4943a6b4dd4a5960eb9/src/webid-oidc.js#L18)
  * [`getRegisteredRp()`](https://github.com/solid/solid-auth-client/blob/f9ac64cf0b6408e

[2019-02-02 23:47] elf-pavlik commented on #107
I started playing with simple implementation, which adds a function to `webid-oidc.js` to discover OIDC Issuer from WebID Profile and gets used as first step of `WebIdOidc.login()`. It needs to parse turtle, currently I use https://github.com/rdfjs/parser-n3 but preferably it should use dependency injection so that application can provide a parser which it already imports. Do you think it should g

[2019-02-02 23:49] RubenVerborgh commented on #107
We have such a function somewhere, possibly solid auth manager.

[2019-02-02 23:59] elf-pavlik commented on #107
I guess this one: https://github.com/solid/oidc-auth-manager/blob/master/src/preferred-provider.js#L22
It also seems to make incorrect assumptions. WebID Profile can stay hosted on server also hosting OIDC provider but in the WebID Profile one can specify other issuer. I think it has to check the WebID Profile first and if it doesn't include `solid:oidcIssuer` statement then fall back to `/.well-k

[2019-02-03 00:00] RubenVerborgh commented on #107
True, I think we can do better indeed 🙂 Constructor param maybe a little
too far for now; overhead should be minimal.

[2019-02-03 00:15] dmitrizagidulin commented on #107
So just for background - that assumption was basically a performance optimization. The WebID profile only gets checked for an external oidcIssuer only if it's different from the `serverUri`, not on every request, since I think that might be excessive.

[2019-02-03 19:45] elf-pavlik commented on #15
I find http://chrisbateman.github.io/webpack-visualizer/ very helpful to see how much comes from which bundled dependency.

[2019-02-12 18:27] james-martin-jd commented on #68
I ran into this issue recently as well - Edge and IE both throw errors related to missing references. +1 to this issue.

[2019-02-13 01:14] rimmartin commented on #102
I second the motion

[2019-02-13 10:30] RubenVerborgh commented on #102
Indeed; depends on https://github.com/solid/solid-spec/issues/138 though.

[2019-02-26 19:54] elf-pavlik commented on #107
I don't see a clean way of injecting turtle parser dependency. This module exports *a singleton instance of SolidAuthClient*. If it exported the class I could imagine application importing it to simply:
[code]
and later in `SolidAuthClient#login` it could pass it to `WebIdOidc#login`

[2019-02-26 20:03] elf-pavlik commented on #107
If this module exports the class, binding methods to instance could happen in the constructor, possibly using https://github.com/sindresorhus/auto-bind

[2019-02-26 20:42] RubenVerborgh commented on #107
webpack can just do it, no?

[2019-02-26 22:15] mrkvon opened #109 "Local storage is insecure"
[Local Storage is insecure](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/HTML5_Security_Cheat_Sheet.md#local-storage) and shouldn't be used for storing sensitive information.
Storing authentication info (e.g. `oidc.session.privateKey` here) in local storage is not acceptable in production environment. The above linked OWASP document suggests alternatives.

[2019-02-26 22:23] RubenVerborgh commented on #109
Thanks @mrkvon, this indeed has been a concern for some time.

@dmitrizagidulin Does this invalidate the entire idea of PoPtokens? We use PoPtokens to avoid extra requests to the IDP, but the good thing is that those requests can only be made by one origin. With PoPtokens, tokens for any domain can be generated anywhere by anyone who steals local storage. Not having PoPtokens would reduce the atta

[2019-02-26 22:34] mrkvon commented on #109
Disclaimer: I don't understand details of OIDC or WebId-OIDC.
Is it not possible to use http-only cookies or some other storage mechanism that can be considered secure?

[2019-02-26 22:58] RubenVerborgh commented on #109
No, the client needs access to the tokens to make authenticated requests.

That might be possible, but OWASP is very liberal in what they consider threats, as it includes cross-site scripting (which lets you get away with more or less everything). Having short-lived tokens is important.

[2019-02-26 23:19] mrkvon commented on #109
@RubenVerborgh thank you for explaining!

If I understand well: After the user gets authenticated with the identity provider, they receive some kind of token which they're supposed to use to authenticate themselves with various solid pods. They need to use JavaScript for this.

Indeed, AFAIK, using 3rd party scripts to steal or manipulate the local storage is its main security issue (includes XSS,

[2019-02-26 23:22] RubenVerborgh commented on #109
It depends. I have an idea in the back of my mind, where the local storage is encrypted, and the key to that encryption is only known by a background worker. That background worker can only run on certain domain, so keys cannot be stolen.

Cross-site scripting might then still make unauthorized requests, but that is hard to stop in the first place.

[2019-02-27 00:52] dmitrizagidulin commented on #109
Just saw this issue.

Basically, it's just as @RubenVerborgh said.

There are no authentication methods available in the browser that are not vulnerable to Cross Site Scripting attacks. Local storage (where the PoP session tokens are stored) is vulnerable. But so are cookies. And so is WebID-TLS (browser certificates).

So, as such, PoP tokens are no more vulnerable than any other authentication m

[2019-02-27 00:58] dmitrizagidulin commented on #109
@RubenVerborgh

Not quite. PoP tokens have an ID token embedded in them, that has a limited lifetime (it expires when the session expires). And they are only issued to one particular domain (enforced by `redirect_uri` restrictions). So, basically, PoP tokens have the same attack surface as do regular OAuth2 ID and access tokens.

[2019-02-27 01:29] mrkvon commented on #109
@RubenVerborgh Thank you for sharing your idea. I still try to understand it. If it works, why don't we just store the sensitive data directly in web worker? What is the difference between keeping the encryption key and the data themselves with the web worker? (I have only just started learning about web workers.)

@dmitrizagidulin When XSS takes place, the attacker can do any actions they defined

[2019-02-27 09:29] RubenVerborgh commented on #109
@dmitrizagidulin

Those restrictions only work in the browser. If an attacker steals localStorage, they can send its contents to a server, which can fake any `Origin` header, thus removing the domain-based protection. That's why I argue the attack surface is broader: steal one set of tokens, and have access to any server.

That seems one of the most important mechanisms.

Additionally, encrypting

[2019-02-27 09:32] RubenVerborgh commented on #109
…but nothing prevents an XSS script to just make another request to the IDP and get another set of tokens, so even if we don't use localStorage, XSS still can do whatever.

[2019-02-27 09:35] RubenVerborgh commented on #109
Because that data is not persisted, so you would have to log in again every time.

Yes, but we _want_ the client to make privileged requests to other servers. We don't want to go through the server every time.

Yes.

Yes, but loads of roundtrips, which is what we want to avoid.
But also, with XSS, anyone can make those requests.

[2019-02-27 15:44] elf-pavlik commented on #107
I don't understand how webpack can provide a clear solution. I would like to develop Solid based Progressive Web App. In that application I would like to import:
* `solid-auth-client`
* `@rdfjs/parser-n3`
* `quadstore`
* etc.

If the application has useful features without login, I will most likely use dynamic `import()` to lazy load `solid-auth-client` once user decides to login. On the other han

[2019-02-27 15:54] RubenVerborgh commented on #107
So webpack could either a) bundle a different dependency b) leave the dependency open, for the scenario you describe above.

But indeed, your scenario with multi-stage loading (which I like BTW) is more complex. I like the idea of the `window.solid` namespace, which currently has `solid.auth` and `solid.data`. If something does not ship with an auth implementation, it just uses `solid.auth` (thank

[2019-02-27 16:42] mrkvon commented on #109
I see. With XSS we have a problem, whether we use centralized or distributed system. It's not a problem to be solved by this library.

So it comes down to:
1. Can we be as safe with a _Solid App_ as with a _Common Centralized App_?
2. If the XSS happens, how bad it gets? (Judged by point 1.)

I'm looking forward to seeing where this goes.

[2019-03-10 15:40] theWebalyst opened #110 "npm run test on master fails 16 tests"
Following the README.md instructions below as far as `npm run test`
[code]
Here is the summary output for Ubuntu 18.10, npm v6.4.1, node v8.11.3:
[code]
Full test output here:
[test.log](https://github.com/solid/solid-auth-client/files/2949670/test.log)

NOTE: The demo does work though! As follows:

`POPUP_URI='http://localhost:8606/popup-template.html' npm run start:demo`

[2019-03-10 15:55] RubenVerborgh commented on #110
Thanks, Mark. Which failures? CI works.

[2019-03-10 16:04] theWebalyst commented on #110
I've added the full test output as
[test.log](https://github.com/solid/solid-auth-client/files/2949670/test.log)

[2019-03-10 16:08] RubenVerborgh commented on #110
Seems like a test configuration problem with Node 8. The library is only tested with Node 10 at the moment. (Compatibility with multiple Node versions is not on the priority list, given that Node just acts as the building and testing system for the browser library.)

[2019-03-10 16:13] theWebalyst commented on #110
OK, I think I can probably go to Node 10 anyway. Thanks. By all means close.

[2019-03-10 16:13] #110 closed

[2019-03-10 16:18] theWebalyst commented on #110
I confirm:
[code]
All tests now pass. Worth adding `nvm install` to README?

[2019-03-10 16:19] RubenVerborgh commented on #110
Thanks for conforming!

Not everyone uses `nvm` though. Updated the `engines` field; might be worth to tell the needed version in the README.

[2019-03-27 09:37] SolarBilling commented on #109
Yes! I suggest that there is at least an option for all the user's data to be encrypted at rest, using a key shared by everyone who is authorized to access that data.
So, for example if I want to share some data with a group "friends" then that data is encrypted with the "friends" key and the "friends" key is encrypted with the public keys of each of the members of that group. The encrypted keys c

[2019-03-27 20:08] pangolingo opened #111 "logout() makes undesirable fetch request"
When I call `solid.auth.logout()`, it makes a fetch request to `/.well-known/solid/logout`. When I'm writing frontend-only code (like a demo on Codepen), I'd prefer that this request did not occur. There is no backend set up to handle the request.

Would it be possible to add an option to disable this logout request?

[2019-03-27 20:55] RubenVerborgh commented on #111
Ehm, but that is kind of the function of `.logout()` 🙂
Why just not call it?

[2019-03-27 20:58] jeff-zucker commented on #111
Is there a spec for what is expected in /.well-known/solid/* files?

[2019-03-27 20:59] jeff-zucker commented on #111
Why just not call it? Because being logged in separate windows can mess up logins, it is sometimes necessary to logout() first.

[2019-03-27 21:00] RubenVerborgh commented on #111
No, but we don't need it at the moment. It's all derived from `/.well-known/openid-configuration` (and the latter does have a spec).

[2019-03-27 21:00] RubenVerborgh commented on #111
Agreed, but to execute that action, we need to send the request.

[2019-03-27 21:05] pangolingo commented on #111
In my use case (building a Solid demo app on Codepen), I expect `logout()` to log me out of the Solid identity provider. And it does, so that's functioning properly.

It's this expectation of having a local server that threw me off. This doesn't break anything: the `fetch` call is properly wrapped in a try/catch. It just feels odd.

[2019-03-27 21:07] jeff-zucker commented on #111
Perhaps indicate in the warning message that it's not an error? Something like"no .well-known was found, so skipped"

[2019-03-27 21:10] RubenVerborgh commented on #111
I'm not entirely sure what you mean. There is no local server expectation, only an identity provider. What unexpected request happened? (perhaps with full URL?)

[2019-03-27 21:10] jeff-zucker commented on #111
It throws some people off to see the message. For example, https://github.com/jeff-zucker/solid-file-client/issues/24 is asking the same question as this issue.

[2019-03-27 21:11] RubenVerborgh commented on #111
solid-auth-client doesn't guess that location; it gets it from the server. So https://github.com/jeff-zucker/solid-file-client/issues/24 seems like a misconfigured server.

[2019-03-27 21:14] jeff-zucker commented on #111
It can occur with apps run from localhost so missing rather than misconfigured.

[2019-03-27 21:16] jeff-zucker commented on #111
Same with the case of codepen - their server isn't misconfigured, it's just not solid-ready.

[2019-03-27 21:16] RubenVerborgh commented on #111
Okay, I was confused here. Apparently `/.well-known/solid/logout` _is_ hard-coded on the client (https://github.com/solid/solid-auth-client/blob/v2.3.0/src/webid-oidc.js#L75). I was assuming the server pointed to that location (as it should, because this is a total hack).

[2019-03-27 21:23] RubenVerborgh commented on #111
Yeah, upon closer examination, we have no choice but to use that hack with the current OIDC libraries. We could add a warning when it 404s, as @jeff-zucker suggested, but that's the best we have (PR welcome).

[2019-03-27 21:23] #111 closed

[2019-03-28 19:27] jeff-zucker opened #113 "Support an in-browser POD : local storage via data:// scheme"
This may be hair-brained, but it could potentially have many uses.  It could work by making a cut-out in solid-auth-client.fetch() that handed fetching of data:// URIs to a local-storage aware library that returns success/failure in an object similar to what an HTTP fetch returns.  If this is plugged into solid-auth-client, pretty much any browser app could use it as storage and there could be syn

[2019-03-29 07:46] michielbdejong commented on #113
Or how about a browser extension that stores data in its own storage? Would love to brainstorm about this!

[2019-03-29 13:13] linonetwo commented on #113
How about a separate library that can create a POD on the service worker? Likes https://github.com/linonetwo/ipfs-browser-gateway

I think a potential usage is using it as a local cache when user don't actually have a WebID. If you are new to SoLiD and want to try out a note-taking app, It may provide a local POD for you. (maybe

[2019-03-29 16:20] linonetwo opened #114 "What's 'request' event?"
Doc said there are three types of events https://github.com/solid/solid-auth-client#events

But what's this 'request' event?
https://github.com/solid/react-components/blob/54ab590ffb79e645f5a4c898057ab94e282b3bad/src/UpdateTracker.js#L95

[2019-03-29 16:36] RubenVerborgh commented on #114
Good spot!

This was hastily added for the React components in v2.3.0 (https://github.com/solid/solid-auth-client/commit/915996d1331c98f517dfc66bd4dd9e0ec5699e38).

It is a way of keeping track of what requests pass through `fetch` in order to perform things like cache invalidation.

We can/should add it to the documentation.

[2019-04-02 06:24] Otto-AA opened #115 "Login from local file"
Is it possible to login from a local website (e.g. file:///path/to/index.html)?

I’ve tried it via the popup (solidAuth.popupLogin({ popupUri: 'https://solid.community/common/popup.html' })), yet this doesn’t work if tested with a file:/// path (localhost and on server do). The errors I get in the console are:
[code]

If I click on a login button in the popup nothing happens.

Is this disabled due

[2019-04-02 08:02] RubenVerborgh commented on #115
The browser will not allow that for security reasons.

You need to run that local website through a local web server (i.e., "localhost"), not over the file system.

[2019-04-02 08:02] #115 closed

[2019-04-04 18:01] jeff-zucker commented on #113
I think a browser extension is a great idea to use in addition to my idea rather than a replacement for it.  The advantage of building it into solid-auth-client is that any app will then be able to dependably use rdflib/query-ldflex to interact with the local storage (or indexed db)  whereas they could not count on having an extension installed.

[2019-04-05 13:57] boulderwebdev opened #116 "EventSource support"
There should be support for the EventSource API using solid's fetch. This could be accomplished by implementing a polyfill within the solid-auth-client similar to [this library](https://github.com/mattkrick/event-source-polyfill/blob/master/src/EventSourcePolyfill.ts). I imagine this API would look something like

[code]

[2019-04-05 14:08] RubenVerborgh commented on #116
Needs to be tackled on spec level first.

[2019-04-05 14:08] #116 closed

[2019-04-05 21:41] elf-pavlik commented on #116
Existing discussion in: https://github.com/solid/solid-spec/issues/123

[2019-04-12 19:21] jeff-zucker commented on #113
@michielbdejong I've created [a file:// handler for rdflib](https://github.com/jeff-zucker/solid-rest-file) which basically treats the file system as a minimal Solid REST server.  It might be a useful piece of a browser extension for an in-browser POD.  It also has some tests that might be useful elsewhere.

[2019-04-15 07:06] Otto-AA opened #117 "Handle multiple logins"
Is there a way to handle multiple logins simultaneously?

In my filemanager ([this one](https://github.com/Otto-AA/solid-filemanager)) this could be used to transfer files between two private pods without the need to download them. For other applications this could be helpful for easily switching between different accounts, or accumulating data from two or more.

And if not, do you know if it woul

[2019-04-15 07:07] RubenVerborgh commented on #117
Not yet. There are indeed some use cases where this would be useful.

[2019-04-15 07:17] Otto-AA commented on #117
Ok, thanks for your fast response. Do you mean that it is not possible or just not implemented yet?

If it is latter, I could take a look at it in the next days and try to implement it :)

[2019-04-15 07:34] RubenVerborgh commented on #117
It's possible, but not implemented yet.

I'd be very happy if you could take a look at it, but I'm pretty sure it will take a substantial effort, given that the interface the library would have to change. I would consider this a major rewrite.

[2019-04-15 09:01] Otto-AA commented on #117
I think the interface itself doesn't need to change much, "only" the underlying code would need to be refactored. I would have thought of wrapping the functionality into a class, which then can be created multiple times. And to keep backwards compatibility a default instance could be created.

So from the users point of view I would propose something like this:
[code]

I will take a look at it in

[2019-04-15 09:07] RubenVerborgh commented on #117
But…

…that is a substantial interface change 😉

The good thing is that part of the refactoring you need for this already exists, in that `solid-auth-client` exposes a default instance of a class. So `createNewSession` would be creating more instances.

[2019-04-15 15:26] theWebalyst opened #118 "Popup fails with dialog "Error: could not connect to main window""
I have this with both a local NSS server (5.0.1 I think) with Solid Plume deployed on my pod.

Live: https://thewebalyst.solid.community/plume/
Code: https://github.com/theWebalyst/solid-plume/ (default branch)

I can log in by visiting my pod home page, and then refreshing Plume, but not when Plume invokes the solid-auth-client popup itself.

[2019-04-15 15:33] RubenVerborgh commented on #118
That would happen if the main window is not running the solid-auth-client code (which sets up various listeners to the popup). So I would be inclined to say it's a Plume bug. I also noticed that Plume is using deprecated `SolidAuthClient` interfaces. Might be a version mismatch.

Where exactly does Plume load solid-auth-client?

[2019-04-15 18:53] jeff-zucker commented on #113
My in-browser-pod is almost ready for prime time.  It can store and access resources and containers in localStorage via rdflib.  It would be accessible in all apps if you include a cutout for it in solid-auth-client (if the IRI scheme is app://, use solid-rest-browser's fetch).  Here's links to **[a working demo](https://jeff-zucker.github.io/solid-rest-browser/)** and **[the code repo](https://gi

[2019-04-15 19:17] theWebalyst commented on #118
Thanks @RubenVerborgh that's probably enough for me to go on. I will dig into it.

[2019-04-16 00:23] jeff-zucker commented on #113
Update : the in-browser storage can now handle GET, PUT, POST, DELETE on resources and containers according to (my interpretation  of) the Solid  REST spec.  It can transparently handle all rdflib methods except those requiring PATCH and that most likely goes for most other Solid libraries.   It doesn't touch ACL or other related specs, only the REST interaction.  I've had reports it works fine on

[2019-04-16 10:34] theWebalyst commented on #118
@RubenVerborgh Plume index.html includes rdflib.js. Using an old version of rdflib.js it can then access `SolidAuthClient` (fetch, popupLogin etc).

I updated rdflib.js to master and now `SolidAuthClient` is not available. I do see `window.solid.auth`, but it only has `window.solid.auth.fetch` (none of the other methods I'd expect). I guess this is because rdflib Fetcher only imports `solid.auth.f

[2019-04-16 10:40] RubenVerborgh commented on #118
What I expect to happen is that `rdflib` depends on `window.solid.auth`. `rdflib` should not include any partial or full build of `solid-auth-client`. By including `solid-auth-client` _before_ `rdflib`, rdflib will pick it up.

[2019-04-16 10:42] theWebalyst commented on #118
Ah, thanks I'll try that.

I note this in fetcher.js:

[code]

[2019-04-16 10:43] RubenVerborgh commented on #118
Yes, but: https://github.com/linkeddata/rdflib.js/blob/v0.20.1/webpack.config.js#L45-L46

[2019-04-16 10:58] theWebalyst commented on #118
That fixes it, I now have a different error and can sort that (I don't yet have the popup HTML deployed!) You were super fast and super helpful again, thanks very much @RubenVerborgh

[2019-04-16 10:58] #118 closed

[2019-04-16 10:59] RubenVerborgh commented on #118
You’re welcome, please keep us updated on your progress with Plume!

[2019-04-16 17:29] jeff-zucker commented on #113
@RubenVerborgh I am ready to submit a PR to include a single line at the top of solid-auth-client's fetch
[code]
Should I expect the user to load solid-rest-browser themselves so that appfetch pre-exists? Or should it be imported by solid-auth-client?  Or are you considering not including the PR at all.  If so, please explain.

[2019-04-16 18:04] RubenVerborgh commented on #113
If possible, I would suggest `require('solid-rest-browser')` and then configure webpack such that it defaults to `window.something.something` (https://github.com/linkeddata/rdflib.js/blob/v0.20.1/webpack.config.js#L45-L46). That gives people the option of distributing/packaging it the way they want.

[2019-04-16 19:04] jeff-zucker commented on #113
I'm sorry, I'm pretty slow-witted when it comes to require/import and webpack.  Could you clarify where the require would occur and what you mean about the webpack?

[2019-04-16 19:32] RubenVerborgh commented on #113
Sure, so that would need to become:

[code]

and https://github.com/solid/solid-auth-client/blob/v2.3.0/webpack/webpack.common.config.js#L28 would need something like

[code]

[2019-04-16 19:57] jeff-zucker commented on #113
Ah!  Thanks so much!  I am starting to get it. It does sound like the cleanest way.  Two more questions:  users will need to import solid-rest-browser in a script tag placed before the script tag for solid-auth-client?  And solid-rest-browser will not be included at all in the package.json for solid-auth-client?

[2019-04-16 20:02] RubenVerborgh commented on #113
If they use the default webpack build `solid-auth-client.bundle.js`, yes. If they `require` the client in their own apps, then no.

It would actually. It would just not be bundled with the default webpack build.

That wouldn't be really clean, because a `require` is not expected to fail. Instead, we might want to configure webpack to include a stub. Now, we're telling webpack "look in `window.some

[2019-04-16 20:03] jeff-zucker commented on #113
Great!  I'll set that all up and submit a PR.  Thanks very much for your help!

[2019-04-18 00:28] kidehen commented on #109
Please explain how this extends to WebID-TLS? Ditto WebID-TLS+Delegation.

[2019-04-19 16:45] kidehen commented on #109
@dmitrizagidulin @RubenVerborgh ,

Any comment regarding t[he question I posed](https://github.com/solid/solid-auth-client/issues/109#issuecomment-484310248)?

We do need to keep matter clear regarding WebID-OIDC and other protocols such as WebID-TLS and WebID-TLS+Delegation which do not use Local Storage in the Browser to store credentials.

Keychain for macOS and the Keystore provided by Windows

[2019-04-19 17:03] RubenVerborgh commented on #109
Not from my side; I’m in agreement with you.

[2019-04-19 19:32] kidehen commented on #109
@RubenVerborgh ,

Okay we are clear on that then :)

@dmitrizagidulin ,

You made the [claim about WebID-TLS,](https://github.com/solid/solid-auth-client/issues/109#issuecomment-467677619) so over to you regarding clarification.

[2019-04-19 19:40] dmitrizagidulin commented on #109
@kidehen My point was to remind that no authentication method, including WebID-TLS, is immune if the user runs a compromised or malicious app (because the app can just make authenticated requests and do whatever it wants with the user's data).

[2019-04-19 21:11] kidehen commented on #109
@dmitrizagidulin,

You are making a generic point about vulnerability that's universal right now.

My concern with your earlier comment.

My reading of that comment was that it appeared to be that you were speaking about a specific vulnerability that arises for Single Page Applications (SPAs) that handle authentication via WebID-OIDC (which depends on Local Browser Storage re public and private cr

[2019-04-23 15:19] cblakeley commented on #109
Though WebID-TLS doesn't use localStorage and uses credentials held in a presumably more secure keychain/keystore, isn't it still vulnerable to attack by session hijacking? If the creation of a WebID session results in an authentication cookie, couldn't a malicious script still gain access to this cookie from cookie storage? [Pass the Cookie session hijacking](https://wunderwuzzi23.github.io/blog/

[2019-04-23 18:24] RubenVerborgh commented on #109
The cookie mechanism is a performance optimization that, IMHO, needs to go.

[2019-04-24 20:52] kevin-howard-jd commented on #68
Been doing some research on this issue. As noted by @alexstanford, "Encoding Standard" was in development by Microsoft for MS Edge. Microsoft have now released Canary, Dev and Beta channel downloads for the latest version (v75) of MS Edge which is being rewritten to use the Chromium engine: https://www.microsoftedgeinsider.com/en-us/download

I downloaded the latest development version (v75.0.131.

[2019-05-02 05:13] linonetwo opened #122 "login({ idp:"idp.example.com", username:"you", password:"hmm" })"
Will there be an API likes https://github.com/jeff-zucker/solid-auth-cli#login-idphttpsidpexamplecom-usernameyou-passwordhmm- ?

If I'm going to provide a custom login form and let the user provides that info, will there be any security risk?

It can be used in circumstance likes TiddlyWiki, it's a serverless SPA, can't provide a popup.html by itself.

[2019-05-02 12:32] RubenVerborgh commented on #122
I cannot imagine there ever will be. It is entirely up to `idp` to decide how auth goes. Might be username/password, fingerprint, or magic. How IDP does it is not standardized, so we should not assume. Solid CLI is a temporary workaround/hack that is great for now, but not what we want in the future.

[2019-05-02 12:55] #122 closed

[2019-05-10 04:31] linonetwo opened #123 "Flowtype for this lib"
Seems you are using flowtype, can you generate a typing and publish it to https://github.com/flow-typed/flow-typed?

[2019-05-15 18:42] boulderwebdev commented on #68
There's a shim for TextEncoder [here](https://github.com/inexorabletash/text-encoding), which seems to work on IE and Edge, but you cannot login to a solid pod because they do not include the shim as well. Maybe this could be included into the solid-auth-client by default? Or could TextEncoder be replaced by something else?

[2019-06-17 11:19] linonetwo opened #125 "Trust origin on login"
It's very annoying that I have to add new app origin as trusted.

It's better to trust an origin upon login, and choose ACL for this origin.

[2019-06-17 12:22] linonetwo opened #126 "Fetch 204 resulted in error"
I got 204 No Content when GET a URI which does not exist, and I want to create it if it does not exist depends on `res.status`, but following code:

[code]

only resulted in

[code]

[2019-06-17 12:23] linonetwo commented on #126
It used to be 404, and it wasn't an error 3 months ago I wrote this code...

[2019-06-17 12:24] jaxoncreed commented on #126
What does the uri you're fetching look like?

[2019-06-20 17:30] jairo-campos-JD opened #127 "tracksession doesn't check is token is still valid on Solid server."
Current Functionality: tracksession check if there is a token in the local storage to validate if the user is logging or not.

Possible issue: Apps doesn't know when the token is invalid to redirect the user to log in. We could use 401 response to fix it but we couldn't make a difference between a token or permissions error.

Solution: New functionality to check if the current session(token) is va

[2019-06-20 18:56] RubenVerborgh commented on #127
Technically `currentSession` of `webid-oidc.js`.

Main problem is that token renewal is not implemented in the OIDC libraries we use.

[2019-07-08 22:20] happy-dev opened #128 "Deriving WebID URI from ID Token"
Hi guys,

Do I understand correctly from [this line](https://github.com/solid/solid-auth-client/blob/186236c5ebaa8b7f474f8f8ab3d38d15c06e101c/src/webid-oidc.js#L54) that only [Method 2 - Value of sub claim contains a valid HTTP(S) URI](https://github.com/solid/webid-oidc-spec#method-2---value-of-sub-claim-contains-a-valid-https-uri) is supported as a way to derive the WebID URI from the ID Token?

[2019-07-11 18:59] jaxoncreed commented on #128
For solid-auth-client, yes. Though solid-auth-client is potentially just one of many implementations of a client.

[2019-07-12 17:34] happy-dev commented on #128
@jaxoncreed : I know. But it is the one we based our web component on :smile:
https://git.happy-dev.fr/startinblox/sib-oidc

If we need the other two methods, we will submit a merge request.
We should be good to get started with the `sub` claim.

Thank you !

[2019-07-12 17:34] #128 closed

[2019-07-13 10:13] happy-dev opened #129 "Silent token refreshing"
Hi guys,

This issue might be somehow related to :

- https://github.com/solid/solid-auth-client/issues/127
- https://github.com/solid/solid-auth-client/issues/109
- https://github.com/solid/solid-auth-client/issues/37

Giving a short lifespan to the `ID token` is a security feature to reduce the vulnerability surface, but as @dmitrizagidulin said it is inversely proportional to user convenience.

[2019-07-13 10:34] RubenVerborgh commented on #129
Yes, this is indeed the plan; it’s just not implemented yet in the OIDC
library we currently use.

[2019-07-15 16:36] happy-dev commented on #128
@jaxoncreed : Thinking about it, do you know any other implementation of WebID-OIDC in javascript ?

[2019-08-05 14:19] y0va opened #130 "app origin as option of popupLogin"
If an app is deployed on a non-solid-server I need to specify it as trusted since NSS5.

If I login using `popupLogin` to solid.community with `popupUri` set to the popup.html on my dev NSS server, after login, it asks me to add that dev server to the trusted apps, instead of localhost or the domain of the deployed app.

If I specify the app location as `callbackUri`, solid.community asks me to ad

[2019-08-05 19:46] jaxoncreed commented on #130
Ah right. It's better not to use the popup uri and instead have the user choose the issuer from your app.

[2019-08-06 00:16] robmccoll commented on #130
Ha - I just ran across this in solid-file-client via solid-ide and filed https://github.com/jeff-zucker/solid-file-client/issues/72 only to come here.

[2019-08-06 07:16] y0va commented on #130
@jaxoncreed: that's not the problem I's like to specify appOrigin not IDP, which does not need to be the same.

[2019-09-02 09:53] kjetilk opened #131 "solidtest.space is gone"
https://solidtest.space/ has been taken over by someone outside of the project. This repo seems to  have some mentions of it, which should be removed.

[2019-09-25 12:25] Vinnl commented on #129
Just so I know which issues to subscribe to: is this the blocker? https://github.com/solid/oidc-rp/issues/4

[2019-09-25 17:51] dmitrizagidulin commented on #129
@Vinnl - Ok, so, there's several moving parts here :)

**Server-side:**
* Node-solid-server (which is currently using the `solid/oidc-op` library) does not have Refresh tokens implemented. Which is OK, because it's being replaced by:
* [Inrupt Pod Server](https://github.com/inrupt/pod-server) DOES have Refresh tokens implemented.

**Client-side:**
* solid-auth-client (this repo) uses the `solid/oi

[2019-09-25 18:57] happy-dev commented on #129
At least, that made things a lot clearer to me. Thank you @dmitrizagidulin

[2019-09-26 02:46] dmitrizagidulin commented on #131
It's less taken over and more the domain expired. But yeah, we should probably remove it from the client.

[2019-09-26 08:32] Vinnl commented on #129
Thanks @dmitrizagidulin, that's very clear.

Short other question: is it theoretically already possible for solid-auth-client to know when the token has expired? Even if we're not able to refresh the token yet, it'd be great to at least be able to let the user know they're logged out, rather than things just suddenly no longer working.

[2019-09-26 15:58] dmitrizagidulin commented on #129
@Vinnl:

It would be, yeah.
You'd want to add some code [probably around here in currentSession()](https://github.com/solid/solid-auth-client/blob/master/src/webid-oidc.js#L48), checking the `session.idClaims.exp` (expiration) claim, and throw an error if it's expired.

[2019-09-26 16:02] dmitrizagidulin commented on #129
The other option would be to put the check for expiration in the [`fetchWithCredentials()`](https://github.com/solid/solid-auth-client/blob/master/src/webid-oidc.js#L199) function. Or both.

[2019-09-30 13:19] Vinnl commented on #129
Hmm, so I've done some digging here, but it doesn't seem like this should need extra logic in `currentSession()`: solid-auth-client currently [calls @solid/oidc-rp's `validateResponse`](https://github.com/solid/solid-auth-client/blob/f5e20c9a28e00c9458fea0f187f5f6dffc74223d/src/webid-oidc.js#L48), which in turn [checks whether the session is not actually expired](https://github.com/solid/oidc-rp/b

[2019-09-30 13:29] RubenVerborgh commented on #129
Not everything is implemented in the underlying OIDC library, and as @dmitrizagidulin wrote above, not likely to happen soon.

[2019-09-30 13:49] dmitrizagidulin commented on #129
@Vinnl

I haven't looked closely, but I suspect it has to do with the difference in lifetime between the inner ID Token (really, just a signed credential) and the outer PoP token. Both have different expiration times that the auth client has to consider, and the `oidc-rp` lib mostly focuses on the ID Token's expiration, and not the interaction between the two.
So, yeah, it shouldn't be too hard of

[2019-10-09 11:29] christophehenry opened #133 "OIDC's registration request seems not fully implemented"
It appears [OIDC registration request is not fully implemented](https://openid.net/specs/openid-connect-registration-1_0.html#RegistrationRequest). Is particular, fields like `client_name` and `client_name#<lang>` [are not implemented](https://github.com/solid/solid-auth-client/blob/master/src/solid-auth-client.js#L16):

[code]

All in all, only `issuer`, `grant_types`, `redirect_uris`, `response_

[2019-11-01 17:52] jason076 opened #141 "Support Request and Headers objects as parameter"
Hi, I am trying to create a container in a solid pod using the the _fetch()_ method of the _solid-auth-client_. I create the _POST_ request as follows:
[code]
The call to _this.authService.fetch()_ is just a wrapper for _window.solid.auth.fetch()_. I'm using solid-auth-client v 2.3.1.

The call from above results into the following header:
[code]
All header fields that I have added to the request

[2019-11-01 18:11] RubenVerborgh commented on #141
The `Host` Header, you’re not allowed to set (by the browser). The others should work though. Can you omit `Host`?

[2019-11-01 20:25] jason076 commented on #141
If I omit _Host_ it still ignores my header, but it works with a regular fetch.

[2019-11-01 21:35] RubenVerborgh commented on #141
Thanks for reporting, fixed in v2.4.0.

[2019-11-02 07:45] jason076 commented on #141
I have updated the package to v2.4.0, but it is still the same problem.

Did you allow to pass a _Headers_ object in the _RequestInit_ object? I ask this, because the new issue title does suggest it. I don't pass a _RequestInit_ object. I pass a whole _Request_ object to _fetch()_

If I pass a URI and a _RequestInit_ object instead of a _Request_ object the fetch is working:

[code]

[2019-11-02 08:03] RubenVerborgh commented on #141
Weird, I had tested your example successfully; headers got added.

[2019-11-02 08:05] RubenVerborgh commented on #141
Can you change this into a minimal working example that only uses solid-auth-client (not authService)?

[2019-11-02 08:37] jason076 commented on #141
[code]

[2019-11-04 08:06] peter279k opened #142 "The problem of "Error: Could not connect to main window." alert message"
Hi all developers, I also try to use the solid authentication client to let the Solid App get the access token.

But I also got this alert message. My reproducing issue approaches are as follows:

- Visiting the Solid App.

![image](https://user-images.githubusercontent.com/9021747/68106144-a3463d00-ff1b-11e9-95b4-edaa263554af.png)

I assume that it already has a Pod account then click the "登入" bu

[2019-11-04 08:24] peter279k opened #143 "How to let user authorize/revoke Pod permissions for specific Solid Application?"
As title, and it's related to issue #142

If I use the `https://electric-data-pod.com:8443/popup.html` target via popup window to login the specific Solid App, it only does authentication.

Then redirecting to the Solid App home page if authentication is successful.

It didn't present any authorization page to let user select proper Pod access permissions.

And I think it's expected as following c

[2019-11-04 08:45] peter279k commented on #142
Here is the demonstration of Solid client demo.

- Firstly, visiting the following Solid App via `export POPUP_URI='https://electric-data-pod.com:8443/popup.html'; npm run start:demo` command after building the client demo successfully.

![image](https://user-images.githubusercontent.com/9021747/68107951-56fdfb80-ff21-11e9-9b73-abc8e783f097.png)

- Then clicking the `Login via popup` button, it wi

[2019-11-04 08:57] peter279k commented on #143
Here is the client demo about reproducing this issue:

Using the `export POPUP_URI='https://electric-data-pod.com:8443/common/popup.html'; npm run start:demo` command to run Solid client demo.

Then clicking the `Login via popup` button, it will present following page:

![image](https://user-images.githubusercontent.com/9021747/68108629-3cc51d00-ff23-11e9-8820-925bd587f8b4.png)

Then typing the ac

[2019-11-04 11:07] #141 closed

[2019-11-04 16:33] jaxoncreed commented on #143
You've hit on a huge problem. It is widely acknowledged that the current experience for attenuated access control is extremely poor. In fact, we have a whole panel devoted to figuring out the solution (https://github.com/solid/authorization-and-access-control-panel)

Solid Auth Client will be getting a rewrite in the coming months to address problems like this.

There is currently no way for a use

[2019-11-04 16:40] peter279k commented on #143
Hi @jaxoncreed, thanks for your reply. My questions are as follows after your passionate explanation.

If user has authorized the permissions for the specific Solid App, they don't have second chance to modify this.

To modify that permission again, they should login to their Pod server and modify them manually.

It's not possible to revoke permissions via Solid authentication client, right?

I wo

[2019-11-04 18:03] jaxoncreed commented on #142
Node Solid Server serves the popup from /common/popup.html. Requests to other places will cause problems.

[2019-11-04 18:10] jaxoncreed commented on #143
The main reason is that there was nothing even written in the spec to do that. We're currently working on figuring out the best way to do attenuated authorization.

[2019-11-04 18:12] RubenVerborgh commented on #143
This should likely be moved elsewhere; auth client only does authentication, not authorization.

[2019-11-04 18:13] peter279k commented on #142
Hi @jaxoncreed, thanks for your passionate explanation.

Closed.

[2019-11-04 18:13] #142 closed

[2019-11-19 08:19] peter279k opened #144 "How to validate access token after authorization is successful?"
As title, I've built my own Pod server and Solid App.

When I enter into the Solid App, do authentication and authorization on Solid Pod server via popup window.

Then it will get the access token on the web browser local storage.

The access token is like as follows:

[code]

Then my Solid App back-end will get these access tokens via POST method.

The Solid App back-end will fetch some records t

[2019-11-19 14:09] pheyvaer opened #145 "Can't access private resource"
I'm logged in as `https://pheyvaer.inrupt.net/profile/card#me`. I have access to `https://pheyvaer.inrupt.net/private/data.txt` when I open the link in the browser. However, when executing the following code I get an HTML response stating that I don't have access (see below):

[code]
The response is
[code]
So I'm logged in, but I don't have access, while I should have.

[2019-11-19 14:50] jaxoncreed commented on #145
Could you copy the curl for the request that returns the "no permission found" page?

You can follow these instructions to do so: https://ec.haxx.se/usingcurl-copyas.html

[2019-11-19 14:58] pheyvaer commented on #145
[code]

[2019-11-19 15:11] jaxoncreed commented on #145
Ah, you haven't added your app to your trusted apps.

Log into your pod and go to your root folder. Then go to the preferences tab. You can add your origin there.

![image](https://user-images.githubusercontent.com/5464743/69158736-e3c5bf00-0ab4-11ea-8562-566f46b55f0e.png)

[2019-11-19 15:11] #145 closed

[2019-11-19 15:37] jaxoncreed commented on #144
Thanks for building an app!

What you've posted doesn't seem to be an access token. It seems this is the raw JSON from the localstorage solid-auth-client uses internally. This is not intended to be used by anything other than solid-auth-client.

It sounds like you want to do is the oidc "Authorization Code Grant" flow. At the moment solid-auth-client only supports the implicit flow, but we have pl

[2019-11-19 16:08] peter279k commented on #144
Hi @jaxoncreed, thanks for your reply.

At this moment, do you have any temporary approach to validate my Solid App back-end before fetching current user records?

[2019-11-20 16:14] jaxoncreed commented on #144
Unfortunately, you currently need to make requests from the client. Due to the decentralized nature of Solid, the client needs to generate new tokens every time it makes a request to a new resource server. (See more about how this works here https://github.com/solid/webid-oidc-spec/blob/master/application-user-workflow.md)

This is not to say that it is impossible. We are working on the required s

[2019-11-24 20:32] kevin-howard-jd commented on #68
The Chromium version of MS Edge will be released for Windows and MacOS on 15-Jan-2020: https://blogs.windows.com/msedgedev/2019/11/04/edge-chromium-release-candidate-get-ready/#pFPLt77HPWrI13wm.97

[2020-01-09 14:06] michielbdejong opened #146 "Cannot use with non-public domain names?"
I can't find a way to point 'launcher.com' to 127.0.0.1 and then run https://github.com/inrupt/launcher-exploration on http://launcher.com:3000/ instead of on http://localhost:3000.

To reproduce, run `npm install && npm start` in the master branch of https://github.com/inrupt/launcher-exploration. That will open http://localhost:3000 and you can log in, that works.

Now add 127.0.0.1 launcher.com

[2020-01-09 15:11] jaxoncreed commented on #146
Hmm that's certainly strange. I would have thought it would work even if configured through `etc/hosts`. I'll add this as a requirement for the new authenticator.

[2020-01-09 15:17] RubenVerborgh commented on #146
It does; the cause above is something different. (See for instance https://github.com/solid/solid-auth-client/issues/73)

[2020-01-09 15:23] michielbdejong commented on #146
See also https://github.com/solid/solid-auth-client/issues/79 and https://github.com/solid/profile-viewer-tutorial/issues/4

[2020-01-09 20:02] susannachen7 opened #147 "README example works in Chromium not Firefox"
In Firefox, this error appears in console:
[code]
In Chromium, it successfully redirects to login page

[2020-01-10 15:27] jaxoncreed commented on #147
Could you give more details about the specific example from the Readme you're doing? Are you installing as an NPM dependency or from source?

[2020-01-30 15:33] jaxoncreed opened #149 "Issuer selector UI does not fail gracefully"
If an issuer does not respond, the UI for issuer selection does not provide any feedback to the user. It simply sits there.

[2020-02-28 18:37] james-martin-jd opened #151 "Cookie not set with SameSite attribute"
This issue is visible for all users on https://generator.inrupt.com. Once logged in, a console warning is generated, which reads:

[code]

The only cookie on the generator.inrupt.com site is for inrupt.net, which is triggering the warning.

The links in the warning (https://www.chromestatus.com/feature/5088147346030592 etc) both go into more details on the issue as well, including linking to a tim

[2020-03-03 16:02] jrleles opened #152 "Receiving the message: "401 - Not authenticated" to the logged-in agent"
Hello, I developed an API that accesses resources on my pod. Access to resources requires the user to authenticate. The user authenticates to a web application that consumes the API. The application uses the solid auth client. After authentication, the API is called and the resources are read from the pod and returned to the user. However, it only works if access is granted to the general public (

[2020-03-04 08:58] bourgeoa opened #153 "Cannot build NSS from master : following oidc-rp upgrade to 0.10"
@RubenVerborgh
https://github.com/solid/node-solid-server/issues/1406 as been flagged as a regression
seems to need adjust code from oidc-rp (solid/solid-cli@8aaf55e)

[2020-03-04 09:58] RubenVerborgh commented on #153
It's solid-cli that needs a new version release; this is independent of solid-auth-client.

[2020-03-04 09:58] #153 closed

[2020-03-16 16:51] jaxoncreed commented on #151
I think this might be an NSS issue because cookies are set by the server.

[2020-05-06 14:50] freyavs opened #155 ""403 Origin Unauthorized" when changing/adding file"
Hello, me and my project partner are both trying two different things, but we are both getting the same error:

[code]
When I allow "everyone" to be an "editor", so to write, read and control the location2.ttl file, I am able to change my file with a sparql update query. But when I remove "everyone" and only put myself as owner, I am getting the error message above. It seems like it might not be r

[2020-05-06 14:53] RubenVerborgh commented on #155
Would you be able to post the contents of the `.acl` file? We don't have permission to view it (which is a good thing, so don't change that 🙂).

[2020-05-06 14:57] freyavs commented on #155
These are the contents:

[code]

[2020-05-06 15:00] RubenVerborgh commented on #155
The permissions look fine to me. Are you doing cross-host requests by any chance?
Because there are special settings required for doing so.

Or is it really an app running on fvspeybr.inrupt.net that has the problem?

[2020-05-06 15:05] freyavs commented on #155
The app is running on localhost. I am getting this warning in the console, but up until now it hasn't given us any problems (and it doesn't seem like my partner is getting it, but it might be because we are running different code).

A cookie associated with a cross-site resource at https://inrupt.net/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies wi

[2020-05-06 15:07] RubenVerborgh commented on #155
Then I suspect this will help you: https://github.com/solid/web-access-control-spec#adding-trusted-web-apps

@jaxoncreed Are we aware of this?

[2020-05-06 15:27] freyavs commented on #155
This was indeed the problem! I thought our app already asked for these permissions in the very beginning, but it seems like I might've been mistaken. Should this be automated or should the user manually allow the app access?

[2020-05-06 15:42] RubenVerborgh commented on #155
It should be automated; maybe something went wrong there or was overwritten.

[2020-05-06 15:54] freyavs commented on #155
Okay, I guess I will need to take a look at this then. Thank you very much!

[2020-05-16 17:06] yukulele opened #156 "currentSession return null at login"
at login time, if you make call to `currentSession()` and make a 2nd call before first is resolved, you get `null`

##  way to reproduce the bug

* add this piece of code to [demo/components/AuthButtons.js](https://github.com/solid/solid-auth-client/blob/master/demo/components/AuthButtons.js) :

[code]
* exec `npm run start:demo`
* click "Log in" button
* finalize login process

## expected result

[2020-05-29 17:14] NSeydoux opened #157 "Experimental auth upgrade and bundling issue"
For context, this issue is filed in order to investigate on an issue happening when upgrading `@solid/react` to use an upgraded version of `solid-auth-client`, which wraps `@inrupt/solid-auth-fetcher`. Currently, the latest version of @inrupt/solid-auth-fetcher on NPM is 0.0.4, but 0.0.5 is ready to be released.

## Dependencies overview

https://github.com/inrupt/react-components
├─┬─https://gith

[2020-05-30 22:37] Mohamed-MERZOUK opened #158 "A problem when login to a solid pod in a chrome extension with ReactJs"
I'm using Reactjs with Express as backend to create a solid chrome extension. I want to make a login interface in my extension to connect to a pod, it worked, but when i login to the pod and access the preferences i don't find a trace of the extension in trusted applications list in the pod. Because of that i thought i might implement the login script in the backend and send the login information

[2020-06-05 15:04] NSeydoux commented on #157
The issue was in fact due to a bundling problem that we thought was solved in @inrupt/solid-auth-fetcher@0.0.5, but was in fact only resolved in v0.0.6.

[2020-06-05 15:04] #157 closed

[2020-06-12 08:33] matthieu-fesselier commented on #127
Interested in this too!

I'm not sure, but token renewal is here where there is no token on the client and we need to get a new one from the servern right?

What if there is still a token on the client but it's not valid anymore on the server? Can we check that?

[2020-07-04 18:00] timbl opened #160 "Local bogus pop of sign in for plus bogus 401 for unrelated public resource"
Logged into one solid pod.  Using a login from another pod.  Running code which happens to read read-only code from w3.org when then gets a 401 return code...

<img width="484" alt="Screen Shot 2020-07-04 at 18 12 17" src="https://user-images.githubusercontent.com/1254848/86518240-029c7a00-be28-11ea-9e01-a1545dc20bbe.png">

Console log:
[code]

I'm using the test space  `https://timbl.com/timbl/Pu

[2020-07-19 12:42] josephguillaume opened #162 "Compatibility with Content Security Policy without 'unsafe-eval'?"
I tried to use `solid-auth-client.bundle.js` to add solid to an existing website that uses Content Security Policy and ran into the error:
`EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: ...`

Obviously the error can be avoided by setting `unsafe-eval`, but it would be great if this

[2020-07-19 12:45] josephguillaume commented on #162
Just noticed the `@trust/json-document` errors should be addressed by PR https://github.com/solid/solid-auth-client/pull/150

[2020-07-23 08:33] michielbdejong commented on #162
Thanks for digging into this! I recently did a big dependency update of the mashlib stack but didn't drill down into solid-auth-client. Sounds like I should have, so I made [a note](https://github.com/solid/mashlib/issues/94#issuecomment-662884053) of it. I'll try to find time to look into this!

[2020-08-08 10:32] josephguillaume commented on #151
This issue also appears using solid.community and this Chrome feature is now enabled on Android (breaking all Solid apps using the `nssidp.sid` cookie), but can be disabled through `chrome://flags/#same-site-by-default-cookies`.

It appears the change required in NSS is not too difficult but this could also be considered a solid-auth-client issue - if cookie-based authentication fails (e.g. becaus

[2020-08-08 10:34] josephguillaume commented on #155
The `Samesite=None` issue is documented in https://github.com/solid/solid-auth-client/issues/151 and https://github.com/solid/node-solid-server/issues/1463

[2020-08-08 23:49] scenaristeur commented on #96
I think localstorage should be cleaned, because we cannot switch from one account to another. with let popupUri = 'https://solid.community/common/popup.html';

[2020-08-08 23:52] scenaristeur opened #165 "which pop up do we have to use ?"
by default, it's simplier to use solid auth login popup let popupUri = 'https://solid.community/common/popup.html';
but when i use       let popupUri = './dist-popup/popup.html'; with a copy of what i find in the repo, the popup ask the user which level he grant the app (trusted apps).
Why doesn't this grant level question be automatic ?

[2020-09-13 16:35] gibsonf1 opened #168 "auth.logout() does not send token for proper logout from RP"
The auth.logout() is not sending the token to the Solid server which we need for identifying the user for proper logout.

The code in question is here:
[code]

[2020-09-20 16:09] gibsonf1 opened #169 "readme.md important typo"
In readme.md, using fetch is desribed:

[code]
but this doesn't work.  To make rdflib work with tokens, it would need to be:
[code]

[2020-10-03 08:23] timbl commented on #102
Please explain the block.

[2020-10-03 11:09] RubenVerborgh commented on #102
Just to make sure we're on the same page:
- this issue currently has a label "blocked"
- that label means "depends on another piece of work being performed first"  (so we are _blocked_ from working on this)

The blocking is explained by my comment above: we first need to implement https://github.com/solid/solid-spec/issues/138, such that there is a standard way of discovering the registration page

[2020-10-03 11:12] RubenVerborgh commented on #102
I renamed the label to "has dependency" to remove the confusion (originally seen at https://gitter.im/solid/specification?at=5f77b16d717f8e4eb5f67494).

[2020-10-03 11:42] RubenVerborgh commented on #102
@gibsonf1 kindly [pointed out](https://gitter.im/solid/specification?at=5f78632e66ee4e44a87ce68c) that the necessary API already exists. For instance, https://drive.verborgh.org/.well-known/openid-configuration shows https://drive.verborgh.org/register. Hence, there is no blocker indeed.

[2020-10-03 13:44] elf-pavlik commented on #102
https://openid.net/specs/openid-connect-discovery-1_0.html

    RECOMMENDED. URL of the OP's Dynamic Client Registration Endpoint [OpenID.Registration].

It is supposed to be used by OAuth2 client applications to dynamically register, not by users to create accounts. For that maybe solid/solid-oidc#77 could come handy.

[2020-11-28 22:37] bertung opened #172 "Can we use iframe to authorise a solid pod?"
I presume solid-auth-client uses a window to authorise a solid pod. Is it possible to use an iframe instead? Is there a demo somewhere that accomplishes this? Out platform is iframe based, and we do not allow spawning new browser windows.

[2020-11-28 22:43] bertung commented on #172
Moving this to forum

[2020-11-28 22:43] #172 closed

[2020-12-16 10:51] navaronbracke opened #175 "Popup login does not allow giving a domain access rights"
When using `auth.popupLogin({ popupUri });`, the user does not get the option to set the access rights for the current domain url.

### Actual

When logging in the popup asks the user for his credentials, logs in and closes.

However, the domain url does not become a `trustedApp` entry in the user's profile, despite the docs stating that the login automatically registers the app.

The docs state t

[2020-12-16 13:03] bourgeoa commented on #175
Yes that's true. But the app you are using is `https://inrupt.net/common/popup.html` and `https://inrupt.net` should be added to the trusted apps if it was not in the list.

[2020-12-16 13:56] navaronbracke commented on #175
Thus I have to use my own popup file? E.g. `https://myhost.com/common/popup.html` ?
Secondly, `https://inrupt.net` never ends up in the list of trusted apps. It's always an empty list.
That also does not address the fact that the domain I run my application on, does not become a trusted app.

[2020-12-26 19:48] NoelDeMartin opened #177 "What changed in v2.5.0?"
I've noticed that the bundle size [increased significantly in v2.5.0](https://bundlephobia.com/result?p=solid-auth-client@2.5.4). I didn't find any impactful change looking at the commits, so I'm not sure whether to update it or continue using the old version.

It seems like the package is tree-shakeable, but given that the API depends on a god object it doesn't benefit from it. For example, I don

[2021-01-05 11:48] pheyvaer commented on #175
I have the same issue. I would also expect for my app to be added, because it's my app that will be adding data to the POD.

[2021-01-31 02:45] josephguillaume commented on #162
Presumably this issue can now be closed as no longer relevant given that solid-auth-client is now a legacy library and there are other more major security issues?

[2021-01-31 03:17] josephguillaume commented on #151
If I understand correctly, this authentication method no longer works on new servers anyway (https://github.com/solid/solid-auth-client/pull/173), so issues with SameSite in this library are no longer relevant and this issue can be closed as such?

[2022-04-26 08:41] RubenVerborgh opened #196 "Re-organizing github.com/solid"
Dear repository maintainer,

On behalf of the Solid Team, thanks for creating resources for the Solid project. We appreciate your efforts!

### A new vision on the github.com/solid namespace

We want to give all projects the spotlights they deserve, and that's why we have taken the decision to **re-envision what the _github.com/solid_ namespace will contain** going forward.

Today, it is a mix of

[2022-04-26 19:05] RubenVerborgh commented on #196
Thanks so much, good luck with https://github.com/nodeSolidServer/!